<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activity-heading" jhiTranslate="autocutApp.activity.home.createOrEditLabel">Create or edit a Activity</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.year" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                    <div *ngIf="editForm.get('year')!.invalid && (editForm.get('year')!.dirty || editForm.get('year')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('year')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.term" for="field_term">Term</label>
                    <select class="form-control" name="term" formControlName="term" id="field_term">
                        <option value="SUMMER_TERM">{{ 'autocutApp.SemesterTerms.SUMMER_TERM' | translate }}</option>
                        <option value="WINTER_TERM">{{ 'autocutApp.SemesterTerms.WINTER_TERM' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('term')!.invalid && (editForm.get('term')!.dirty || editForm.get('term')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('term')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.discount" for="field_discount">Discount</label>
                    <input type="checkbox" class="form-control" name="discount" id="field_discount"
                           formControlName="discount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.stwActivity" for="field_stwActivity">Stw Activity</label>
                    <input type="checkbox" class="form-control" name="stwActivity" id="field_stwActivity"
                           formControlName="stwActivity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.activity.tenant" for="field_tenant">Tenant</label>
                    <select class="form-control" id="field_tenant" name="tenant" formControlName="tenant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tenantOption.id === editForm.get('tenant')!.value?.id ? editForm.get('tenant')!.value : tenantOption" *ngFor="let tenantOption of tenants; trackBy: trackById">{{ tenantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
