<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="washHistory">
            <h2><span jhiTranslate="autocutApp.washHistory.detail.title">Wash History</span> {{washHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.washHistory.date">Date</span></dt>
                <dd>
                    <span>{{washHistory.date}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.washHistory.reservation">Reservation</span></dt>
                <dd>
                    <span>{{washHistory.reservation}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.washHistory.tenant">Tenant</span></dt>
                <dd>
                    <div *ngIf="washHistory.tenant">
                        <a [routerLink]="['/tenant', washHistory.tenant?.id, 'view']">{{washHistory.tenant?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autocutApp.washHistory.machine">Machine</span></dt>
                <dd>
                    <div *ngIf="washHistory.machine">
                        <a [routerLink]="['/laundry-machine', washHistory.machine?.id, 'view']">{{washHistory.machine?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autocutApp.washHistory.program">Program</span></dt>
                <dd>
                    <div *ngIf="washHistory.program">
                        <a [routerLink]="['/laundry-machine-program', washHistory.program?.id, 'view']">{{washHistory.program?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wash-history', washHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
