<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="autocutApp.transaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.transaction.kind">Kind</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'autocutApp.TransactionKind.' + transaction.kind }}">{{ transaction.kind }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.bookingDate">Booking Date</span></dt>
                <dd>
                    <span>{{ transaction.bookingDate }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.valueDate">Value Date</span></dt>
                <dd>
                    <span>{{ transaction.valueDate }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.value">Value</span></dt>
                <dd>
                    <span>{{ transaction.value }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.balanceAfter">Balance After</span></dt>
                <dd>
                    <span>{{ transaction.balanceAfter }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.description">Description</span></dt>
                <dd>
                    <span>{{ transaction.description }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.issuer">Issuer</span></dt>
                <dd>
                    <span>{{ transaction.issuer }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.recipient">Recipient</span></dt>
                <dd>
                    <span>{{ transaction.recipient }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.account">Account</span></dt>
                <dd>
                    <div *ngIf="transaction.account">
                        <a [routerLink]="['/transaction-book', transaction.account?.id, 'view']">{{ transaction.account?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autocutApp.transaction.left">Left</span></dt>
                <dd>
                    <span *ngFor="let left of transaction.lefts; let last = last">
                        <a [routerLink]="['/transaction', left?.id, 'view']">{{ left.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
