<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.transaction.home.title">Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="autocutApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span jhiTranslate="autocutApp.transaction.home.notFound">No transactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.transaction.kind">Kind</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.transaction.bookingDate">Booking Date</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.transaction.valueDate">Value Date</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.transaction.value">Value</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.transaction.balanceAfter">Balance After</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.transaction.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.transaction.issuer">Issuer</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.transaction.recipient">Recipient</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.transaction.transactionBook">Transaction Book</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.transaction.left">Left</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a></td>
                    <td jhiTranslate="{{ 'autocutApp.TransactionKind.' + transaction.kind }}">{{ transaction.kind }}</td>
                    <td>{{ transaction.bookingDate | date:'medium' }}</td>
                    <td>{{ transaction.valueDate | date:'medium' }}</td>
                    <td>{{ transaction.value }}</td>
                    <td>{{ transaction.balanceAfter }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.issuer }}</td>
                    <td>{{ transaction.recipient }}</td>
                    <td>
                        <div *ngIf="transaction.transactionBook">
                            <a [routerLink]="['/transaction-book', transaction.transactionBook?.id, 'view']" >{{ transaction.transactionBook?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let left of transaction.lefts; let last = last">
                            <a class="form-control-static" [routerLink]="['/transaction', left?.id, 'view']">{{ left.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
