<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="autocutApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.kind" for="field_kind">Kind</label>
                    <select class="form-control" name="kind" formControlName="kind" id="field_kind">
                        <option value="FEE">{{ 'autocutApp.TransactionKind.FEE' | translate }}</option>
                        <option value="CREDIT">{{ 'autocutApp.TransactionKind.CREDIT' | translate }}</option>
                        <option value="DEBIT">{{ 'autocutApp.TransactionKind.DEBIT' | translate }}</option>
                        <option value="TRANSFER">{{ 'autocutApp.TransactionKind.TRANSFER' | translate }}</option>
                        <option value="CORRECTION">{{ 'autocutApp.TransactionKind.CORRECTION' | translate }}</option>
                        <option value="PURCHASE">{{ 'autocutApp.TransactionKind.PURCHASE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('kind')!.invalid && (editForm.get('kind')!.dirty || editForm.get('kind')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kind')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.bookingDate" for="field_bookingDate">Booking Date</label>
                    <div class="d-flex">
                        <input id="field_bookingDate" type="datetime-local" class="form-control" name="bookingDate" formControlName="bookingDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('bookingDate')!.invalid && (editForm.get('bookingDate')!.dirty || editForm.get('bookingDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bookingDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('bookingDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.valueDate" for="field_valueDate">Value Date</label>
                    <div class="d-flex">
                        <input id="field_valueDate" type="datetime-local" class="form-control" name="valueDate" formControlName="valueDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('valueDate')!.invalid && (editForm.get('valueDate')!.dirty || editForm.get('valueDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valueDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('valueDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                    <div *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('value')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.balanceAfter" for="field_balanceAfter">Balance After</label>
                    <input type="number" class="form-control" name="balanceAfter" id="field_balanceAfter"
                           formControlName="balanceAfter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.issuer" for="field_issuer">Issuer</label>
                    <input type="text" class="form-control" name="issuer" id="field_issuer"
                           formControlName="issuer"/>
                    <div *ngIf="editForm.get('issuer')!.invalid && (editForm.get('issuer')!.dirty || editForm.get('issuer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issuer')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.recipient" for="field_recipient">Recipient</label>
                    <input type="text" class="form-control" name="recipient" id="field_recipient"
                           formControlName="recipient"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.transaction.account" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" formControlName="account">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transactionBookOption.id === editForm.get('account')!.value?.id ? editForm.get('account')!.value : transactionBookOption" *ngFor="let transactionBookOption of transactionbooks; trackBy: trackById">{{ transactionBookOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="autocutApp.transaction.left" for="field_lefts">Left</label>
                    <select class="form-control" id="field_lefts" multiple name="lefts" formControlName="lefts">
                        <option [ngValue]="getSelected(editForm.get('lefts')!.value, transactionOption)" *ngFor="let transactionOption of transactions; trackBy: trackById">{{ transactionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
