<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coin">
            <h2><span jhiTranslate="autocutApp.coin.detail.title">Coin</span> {{coin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.coin.token">Token</span></dt>
                <dd>
                    <span>{{coin.token}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.coin.datePurchase">Date Purchase</span></dt>
                <dd>
                    <span>{{coin.datePurchase}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.coin.dateRedeem">Date Redeem</span></dt>
                <dd>
                    <span>{{coin.dateRedeem}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.coin.tenant">Tenant</span></dt>
                <dd>
                    <div *ngIf="coin.tenant">
                        <a [routerLink]="['/lease', coin.tenant?.id, 'view']">{{coin.tenant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coin', coin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
