<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coin-heading" jhiTranslate="autocutApp.coin.home.createOrEditLabel">Create or edit a Coin</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.coin.token" for="field_token">Token</label>
                    <input type="text" class="form-control" name="token" id="field_token"
                           formControlName="token"/>
                    <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('token')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.coin.datePurchase" for="field_datePurchase">Date Purchase</label>
                    <div class="d-flex">
                        <input id="field_datePurchase" type="datetime-local" class="form-control" name="datePurchase" formControlName="datePurchase" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.coin.dateRedeem" for="field_dateRedeem">Date Redeem</label>
                    <div class="d-flex">
                        <input id="field_dateRedeem" type="datetime-local" class="form-control" name="dateRedeem" formControlName="dateRedeem" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.coin.tenant" for="field_tenant">Tenant</label>
                    <select class="form-control" id="field_tenant" name="tenant" formControlName="tenant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="leaseOption.id === editForm.get('tenant')!.value?.id ? editForm.get('tenant')!.value : leaseOption" *ngFor="let leaseOption of leases; trackBy: trackById">{{leaseOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
