<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="apartment">
            <h2><span jhiTranslate="autocutApp.apartment.detail.title">Apartment</span> {{ apartment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.apartment.nr">Nr</span></dt>
                <dd>
                    <span>{{ apartment.nr }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.apartment.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'autocutApp.ApartmentTypes.' + apartment.type }}">{{ apartment.type }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.apartment.maxNumberOfLeases">Max Number Of Leases</span></dt>
                <dd>
                    <span>{{ apartment.maxNumberOfLeases }}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.apartment.internetAccess">Internet Access</span></dt>
                <dd>
                    <div *ngIf="apartment.internetAccess">
                        <a [routerLink]="['/internet-access', apartment.internetAccess?.id, 'view']">{{ apartment.internetAccess?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autocutApp.apartment.address">Address</span></dt>
                <dd>
                    <div *ngIf="apartment.address">
                        <a [routerLink]="['/address', apartment.address?.id, 'view']">{{ apartment.address?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/apartment', apartment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
