<div fxFlex fxLayoutAlign="center">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.gt-sm="300px">
      <a href="/services/washing" class="service-item">
        <mat-card fxFlexFill>
          <mat-card-header>
            <mat-card-title jhiTranslate="services-overview.washing-system.title">Washing System</mat-card-title>
            <mat-card-subtitle jhiTranslate="services-overview.washing-system.subtitle"
              >Easily unlock the washing machines and dryers.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <jhi-washing-laundry-machines
              *ngIf="machines$ | async as machines"
              [machines]="machines"
              [showLabels]="false"
            ></jhi-washing-laundry-machines>
          </mat-card-content>
          <!--          <img mat-card-image src="content/images/washing_machine.gif" alt="washing machine animation" />-->
        </mat-card>
      </a>
    </div>

    <div fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.gt-sm="300px">
      <a href="/services/transactions" class="service-item">
        <mat-card fxFlexFill>
          <mat-card-header>
            <mat-card-title jhiTranslate="services-overview.transactions.title">Transactions</mat-card-title>
            <mat-card-subtitle jhiTranslate="services-overview.transactions.subtitle"
              >View your account balance and transactions.
            </mat-card-subtitle>
          </mat-card-header>
          <div *ngIf="transactionBooks$ | async as transactionBooks" fxLayout="column" fxLayoutAlign=" center">
            <jhi-transaction-balance
              *ngFor="let tb of transactionBooks"
              [balance]="tb.balance"
              [typography]="(mediaService.isXs$ | async) ? 'mat-display-1' : undefined"
            ></jhi-transaction-balance>
          </div>
        </mat-card>
      </a>
    </div>

    <div fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.gt-sm="300px">
      <a href="/services/internet" class="service-item">
        <mat-card fxFlexFill>
          <mat-card-header>
            <mat-card-title jhiTranslate="services-overview.internet.title">Internet</mat-card-title>
            <mat-card-subtitle jhiTranslate="services-overview.internet.subtitle"
              >Check your internet status and find help with setup and troubleshooting.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <jhi-internet-status *ngIf="networkStatus$ | async as networkStatus" [networkStatus]="networkStatus"></jhi-internet-status>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
