<div>
  <div gdAlignRows=" center" gdColumns="repeat(auto-fit, minmax(175px, 1fr))" gdGap="8px">
    <div class="card-wrapper">
      <a href="/services/washing" class="service-item">
        <mat-card class="service-card">
          <mat-card-header>
            <mat-card-title jhiTranslate="services-overview.washing-system.title">Washing System</mat-card-title>
            <mat-card-subtitle jhiTranslate="services-overview.washing-system.subtitle"
              >Easily unlock the washing machines and dryers.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign=" center">
            <jhi-washing-laundry-machines
              *ngIf="machines$ | async as machines"
              [machines]="machines"
              [showLabels]="false"
            ></jhi-washing-laundry-machines>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="card-wrapper">
      <a href="/services/transactions" class="service-item">
        <mat-card class="service-card">
          <mat-card-header>
            <mat-card-title jhiTranslate="services-overview.transactions.title">Transactions</mat-card-title>
            <mat-card-subtitle jhiTranslate="services-overview.transactions.subtitle"
              >View your account balance and transactions.
            </mat-card-subtitle>
          </mat-card-header>
          <div *ngIf="balances$ | async as balances" fxLayout="column" fxLayoutAlign=" center">
            <div *ngFor="let b of balances" fxLayout="column" fxLayoutGap="16px">
              <jhi-transaction-balance
                [balance]="b.transactionBook.balance"
                [label]="'transaction.balance' | translate"
                [typography]="(mediaService.isXs$ | async) ? 'mat-display-1' : undefined"
              ></jhi-transaction-balance>
              <jhi-transaction-balance
                *ngIf="b.transaction != null && b.transaction.balanceAfter != null && b.transaction.valueDate != null"
                [balance]="b.transaction.balanceAfter"
                [label]="'transaction.onDate' | translate: { date: b.transaction.valueDate | i18nDate }"
                [typography]="'mat-h2'"
              ></jhi-transaction-balance>
            </div>
          </div>
        </mat-card>
      </a>
    </div>

    <div class="card-wrapper">
      <a href="/services/internet" class="service-item">
        <mat-card class="service-card">
          <mat-card-header>
            <mat-card-title jhiTranslate="services-overview.internet.title">Internet</mat-card-title>
            <mat-card-subtitle jhiTranslate="services-overview.internet.subtitle"
              >Check your internet status and find help with setup and troubleshooting.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <jhi-internet-status *ngIf="networkStatus$ | async as networkStatus" [networkStatus]="networkStatus"></jhi-internet-status>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
