.card {
  max-width: 200px;
}

.card-header {
  padding-top: 10px;
}

.card-img {
  max-width: 200px;
}

.clickable {
  cursor: pointer;
}

// reduce font size on small screens
@media screen and (max-width: 400px) {
  .mat-card-title {
    font-size: 14px;
  }

  .mat-card-subtitle {
    font-size: 12px;
  }
}
