<div fxFlex fxLayoutAlign="center">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.gt-sm="300px">
      <mat-card class="clickable" routerLink="/services/washing" fxFlexFill>
        <mat-card-header>
          <mat-card-title jhiTranslate="services-overview.washing-system.title">Washing System</mat-card-title>
          <mat-card-subtitle jhiTranslate="services-overview.washing-system.subtitle"
            >Easily unlock the washing machines and dryers.
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="content/images/washing_machine.gif" alt="washing machine animation" />
      </mat-card>
    </div>

    <div fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.gt-sm="300px">
      <mat-card class="clickable" routerLink="/services/transactions" fxFlexFill>
        <mat-card-header>
          <mat-card-title jhiTranslate="services-overview.transactions.title">Transactions</mat-card-title>
          <mat-card-subtitle jhiTranslate="services-overview.transactions.subtitle"
            >View your account balance and transactions.
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="content/images/money.gif" alt="washing machine animation" />
      </mat-card>
    </div>

    <div fxFlex.xs="50%" fxFlex.sm="33%" fxFlex.gt-sm="300px">
      <mat-card class="clickable" routerLink="/services/internet" fxFlexFill>
        <mat-card-header>
          <mat-card-title jhiTranslate="services-overview.internet.title">Internet</mat-card-title>
          <mat-card-subtitle jhiTranslate="services-overview.internet.subtitle"
            >Check your internet status and find help with setup and troubleshooting.
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="content/images/wifi.gif" alt="washing machine animation" />
      </mat-card>
    </div>
  </div>
</div>
