<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-laundry-machine-program-heading"
        data-cy="LaundryMachineProgramCreateUpdateHeading"
        jhiTranslate="autocutApp.laundryMachineProgram.home.createOrEditLabel"
      >
        Create or edit a Laundry Machine Program
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.time" for="field_time">Time</label>
          <input type="number" class="form-control" name="time" id="field_time" data-cy="time" formControlName="time" />
          <div *ngIf="editForm.get('time')!.invalid && (editForm.get('time')!.dirty || editForm.get('time')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('time')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('time')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.program" for="field_program">Program</label>
          <select class="form-control" id="field_program" data-cy="program" name="program" formControlName="program">
            <option *ngIf="!editForm.get('program')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                laundryProgramOption.id === editForm.get('program')!.value?.id ? editForm.get('program')!.value : laundryProgramOption
              "
              *ngFor="let laundryProgramOption of laundryProgramsSharedCollection; trackBy: trackLaundryProgramById"
            >
              {{ laundryProgramOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['program'])!.invalid && (editForm.get(['program'])!.dirty || editForm.get(['program'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['program'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.machine" for="field_machine">Machine</label>
          <select class="form-control" id="field_machine" data-cy="machine" name="machine" formControlName="machine">
            <option *ngIf="!editForm.get('machine')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                laundryMachineOption.id === editForm.get('machine')!.value?.id ? editForm.get('machine')!.value : laundryMachineOption
              "
              *ngFor="let laundryMachineOption of laundryMachinesSharedCollection; trackBy: trackLaundryMachineById"
            >
              {{ laundryMachineOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['machine'])!.invalid && (editForm.get(['machine'])!.dirty || editForm.get(['machine'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['machine'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
