<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="port">
            <h2><span jhiTranslate="autocutApp.port.detail.title">Port</span> {{port.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.port.number">Number</span></dt>
                <dd>
                    <span>{{port.number}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.port.networkSwitch">Network Switch</span></dt>
                <dd>
                    <div *ngIf="port.networkSwitch">
                        <a [routerLink]="['/network-switch', port.networkSwitch?.id, 'view']">{{port.networkSwitch?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/port', port.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
