<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.networkSwitchStatus.home.title">Network Switch Statuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-network-switch-status" [routerLink]="['/network-switch-status/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="autocutApp.networkSwitchStatus.home.createLabel">
            Create a new Network Switch Status
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="networkSwitchStatuses?.length === 0">
        <span jhiTranslate="autocutApp.networkSwitchStatus.home.notFound">No networkSwitchStatuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="networkSwitchStatuses && networkSwitchStatuses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.port">Port</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.vlan">Vlan</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.speed">Speed</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.timestamp">Timestamp</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.networkSwitchStatus.networkSwitch">Network Switch</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let networkSwitchStatus of networkSwitchStatuses ;trackBy: trackId">
                    <td><a [routerLink]="['/network-switch-status', networkSwitchStatus.id, 'view']">{{ networkSwitchStatus.id }}</a></td>
                    <td>{{ networkSwitchStatus.port }}</td>
                    <td>{{ networkSwitchStatus.name }}</td>
                    <td>{{ networkSwitchStatus.status }}</td>
                    <td>{{ networkSwitchStatus.vlan }}</td>
                    <td>{{ networkSwitchStatus.speed }}</td>
                    <td>{{ networkSwitchStatus.type }}</td>
                    <td>{{ networkSwitchStatus.timestamp | date:'medium' }}</td>
                    <td>
                        <div *ngIf="networkSwitchStatus.networkSwitch">
                            <a [routerLink]="['/network-switch', networkSwitchStatus.networkSwitch?.id, 'view']" >{{ networkSwitchStatus.networkSwitch?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/network-switch-status', networkSwitchStatus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/network-switch-status', networkSwitchStatus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(networkSwitchStatus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
