<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-center" jhiTranslate="statutes-network.title">Title</h1>
    <h6 class="text-right" jhiTranslate="statutes-network.version">Version from 01.01.2000</h6>
    <hr />
    <div class="text-justify">
      <div>
        <h5 jhiTranslate="statutes-network.section1.title">Section 1</h5>
        <p jhiTranslate="statutes-network.section1.par1"></p>
        <p jhiTranslate="statutes-network.section1.par2"></p>
        <p jhiTranslate="statutes-network.section1.par3"></p>
        <p jhiTranslate="statutes-network.section1.par4"></p>
        <p jhiTranslate="statutes-network.section1.par5"></p>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section2.title">Section 2</h5>
        <p jhiTranslate="statutes-network.section2.par1"></p>
        <p jhiTranslate="statutes-network.section2.par2"></p>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section3.title">Section 3</h5>
        <ol>
          <li jhiTranslate="statutes-network.section3.ol1.item1">item 1</li>
          <li>
            <span jhiTranslate="statutes-network.section3.ol1.item2.par1"></span>
            <ul>
              <li jhiTranslate="statutes-network.section3.ol1.item2.ul1.item1"></li>
              <li jhiTranslate="statutes-network.section3.ol1.item2.ul1.item2"></li>
              <li jhiTranslate="statutes-network.section3.ol1.item2.ul1.item3"></li>
            </ul>
            <span jhiTranslate="statutes-network.section3.ol1.item2.par2"></span>
          </li>
          <li jhiTranslate="statutes-network.section3.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-network.section3.ol1.item4">item 4</li>
          <li jhiTranslate="statutes-network.section3.ol1.item5">item 5</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section4.title">Section 4</h5>
        <ol>
          <li jhiTranslate="statutes-network.section4.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section4.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-network.section4.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-network.section4.ol1.item4">item 4</li>
          <li jhiTranslate="statutes-network.section4.ol1.item5">item 5</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section5.title">Section 5</h5>
        <ol>
          <li jhiTranslate="statutes-network.section5.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section5.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-network.section5.ol1.item3">item 3</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section6.title">Section 6</h5>
        <ol>
          <li jhiTranslate="statutes-network.section6.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section6.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-network.section6.ol1.item3">item 3</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section7.title">Section 7</h5>
        <ol>
          <li jhiTranslate="statutes-network.section7.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section7.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-network.section7.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-network.section7.ol1.item4">item 4</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section8.title">Section 8</h5>
        <ol>
          <li jhiTranslate="statutes-network.section8.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section8.ol1.item2">item 2</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section9.title">Section 9</h5>
        <ol>
          <li jhiTranslate="statutes-network.section9.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section9.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-network.section9.ol1.item3">item 3</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section10.title">Section 10</h5>
        <ol>
          <li jhiTranslate="statutes-network.section10.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section10.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-network.section10.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-network.section10.ol1.item4">item 4</li>
          <li jhiTranslate="statutes-network.section10.ol1.item5">item 5</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section11.title">Section 11</h5>
        <ol>
          <li jhiTranslate="statutes-network.section11.ol1.item1">item 1</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section12.title">Section 12</h5>
        <p jhiTranslate="statutes-network.section12.par1"></p>
      </div>
      <div>
        <h5 jhiTranslate="statutes-network.section13.title">Section 13</h5>
        <ol>
          <li jhiTranslate="statutes-network.section13.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-network.section13.ol1.item2">item 2</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
