<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="broadcastMessageText">
      <h2 data-cy="broadcastMessageTextDetailsHeading">
        <span jhiTranslate="autocutApp.broadcastMessageText.detail.title">Broadcast Message Text</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ broadcastMessageText.id }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessageText.langKey">Lang Key</span></dt>
        <dd>
          <span>{{ broadcastMessageText.langKey }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessageText.text">Text</span></dt>
        <dd>
          <span>{{ broadcastMessageText.text }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessageText.message">Message</span></dt>
        <dd>
          <div *ngIf="broadcastMessageText.message">
            <a [routerLink]="['/broadcast-message', broadcastMessageText.message?.id, 'view']">{{ broadcastMessageText.message?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/broadcast-message-text', broadcastMessageText.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
