<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 class="text-center" jhiTranslate="terms.title">Title</h1>
        <h6 class="text-right" jhiTranslate="terms.version">Version from 01.01.2000</h6>
        <hr/>
        <div class="text-justify">
            <div>
                <h5 jhiTranslate="terms.section1.title">Section 1</h5>
                <ol>
                    <li jhiTranslate="terms.section1.ol1.item1">item 1</li>
                    <li jhiTranslate="terms.section1.ol1.item2">item 2</li>
                    <li jhiTranslate="terms.section1.ol1.item3">item 3</li>
                    <li jhiTranslate="terms.section1.ol1.item4">item 4</li>
                    <li jhiTranslate="terms.section1.ol1.item5">item 5</li>
                    <li jhiTranslate="terms.section1.ol1.item6">item 6</li>
                    <li jhiTranslate="terms.section1.ol1.item7">item 7</li>
                    <li jhiTranslate="terms.section1.ol1.item8">item 8</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="terms.section2.title">Section 1</h5>
                <ol>
                    <li jhiTranslate="terms.section2.ol1.item1">item 1</li>
                    <li jhiTranslate="terms.section2.ol1.item2">item 2</li>
                    <li jhiTranslate="terms.section2.ol1.item3">item 3</li>
                    <li jhiTranslate="terms.section2.ol1.item4">item 4</li>
                    <li jhiTranslate="terms.section2.ol1.item5">item 5</li>
                    <li jhiTranslate="terms.section2.ol1.item6">item 6</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="terms.section3.title">Section 1</h5>
                <ol>
                    <li jhiTranslate="terms.section3.ol1.item1">item 1</li>
                    <li jhiTranslate="terms.section3.ol1.item2">item 2</li>
                    <li jhiTranslate="terms.section3.ol1.item3">item 3</li>
                    <li jhiTranslate="terms.section3.ol1.item4">item 4</li>
                    <li>
                        <span jhiTranslate="terms.section3.ol1.item5.par1"></span>
                        <ul>
                            <li jhiTranslate="terms.section3.ol1.item5.ol1.item1"></li>
                            <li jhiTranslate="terms.section3.ol1.item5.ol1.item2"></li>
                            <li jhiTranslate="terms.section3.ol1.item5.ol1.item3"></li>
                        </ul>
                    </li>
                    <li jhiTranslate="terms.section3.ol1.item6">item 6</li>
                    <li jhiTranslate="terms.section3.ol1.item7">item 7</li>
                    <li jhiTranslate="terms.section3.ol1.item8">item 8</li>
                    <li jhiTranslate="terms.section3.ol1.item9">item 9</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
