<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="laundryMachine">
            <h2><span jhiTranslate="autocutApp.laundryMachine.detail.title">Laundry Machine</span> {{laundryMachine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.laundryMachine.identifier">Identifier</span></dt>
                <dd>
                    <span>{{laundryMachine.identifier}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.laundryMachine.name">Name</span></dt>
                <dd>
                    <span>{{laundryMachine.name}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.laundryMachine.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'autocutApp.LaundryMachineType.' + laundryMachine.type}}">{{laundryMachine.type}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.laundryMachine.enabled">Enabled</span></dt>
                <dd>
                    <span>{{laundryMachine.enabled}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/laundry-machine', laundryMachine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
