<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.laundryMachine.home.title">Laundry Machines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-laundry-machine" [routerLink]="['/laundry-machine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="autocutApp.laundryMachine.home.createLabel">
            Create a new Laundry Machine
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="laundryMachines?.length === 0">
        <span jhiTranslate="autocutApp.laundryMachine.home.notFound">No laundryMachines found</span>
    </div>
    <div class="table-responsive" *ngIf="laundryMachines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.laundryMachine.identifier">Identifier</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.laundryMachine.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.laundryMachine.type">Type</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.laundryMachine.enabled">Enabled</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let laundryMachine of laundryMachines ;trackBy: trackId">
                <td><a [routerLink]="['/laundry-machine', laundryMachine.id, 'view' ]">{{laundryMachine.id}}</a></td>
                <td>{{laundryMachine.identifier}}</td>
                <td>{{laundryMachine.name}}</td>
                <td jhiTranslate="{{'autocutApp.LaundryMachineType.' + laundryMachine.type}}">{{laundryMachine.type}}</td>
                <td>{{laundryMachine.enabled}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/laundry-machine', laundryMachine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/laundry-machine', laundryMachine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(laundryMachine)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
