<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 class="text-center" jhiTranslate="statutes-assignment.title">Title</h1>
        <h6 class="text-right" jhiTranslate="statutes-assignment.version">Version from 01.01.2000</h6>
        <hr/>
        <div class="text-justify">
            <div>
                <h5 jhiTranslate="statutes-assignment.section1.title">Section 1</h5>
                <p jhiTranslate="statutes-assignment.section1.par1"></p>
                <p jhiTranslate="statutes-assignment.section1.par2"></p>
                <p jhiTranslate="statutes-assignment.section1.par3"></p>
            </div>
            <div>
                <h5 jhiTranslate="statutes-assignment.section2.title">Section 3</h5>
                <ol>
                    <li>
                        <span jhiTranslate="statutes-assignment.section2.ol1.item1.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-assignment.section2.ol1.item1.ul1.item1"></li>
                            <li jhiTranslate="statutes-assignment.section2.ol1.item1.ul1.item2"></li>
                            <li jhiTranslate="statutes-assignment.section2.ol1.item1.ul1.item3"></li>
                        </ul>
                        <span jhiTranslate="statutes-assignment.section2.ol1.item1.par2"></span>
                    </li>
                    <li jhiTranslate="statutes-assignment.section2.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-assignment.section2.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-assignment.section2.ol1.item4">item 4</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-assignment.section3.title">Section 3</h5>
                <p jhiTranslate="statutes-assignment.section3.par1"></p>
            </div>
            <div>
                <h5 jhiTranslate="statutes-assignment.section4.title">Section 5</h5>
                <ol>
                    <li jhiTranslate="statutes-assignment.section4.ol1.item1">item 1</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-assignment.section5.title">Section 5</h5>
                <ol>
                    <li jhiTranslate="statutes-assignment.section5.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-assignment.section5.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-assignment.section5.ol1.item3">item 3</li>
                    <li>
                        <span jhiTranslate="statutes-assignment.section5.ol1.item4.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-assignment.section5.ol1.item4.ul1.item1"></li>
                            <li jhiTranslate="statutes-assignment.section5.ol1.item4.ul1.item2"></li>
                            <li jhiTranslate="statutes-assignment.section5.ol1.item4.ul1.item3"></li>
                        </ul>
                    </li>
                    <li jhiTranslate="statutes-assignment.section5.ol1.item5">item 5</li>
                    <li jhiTranslate="statutes-assignment.section5.ol1.item6">item 6</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-assignment.section6.title">Section 6</h5>
                <ol>
                    <li jhiTranslate="statutes-assignment.section6.ol1.item1">item 1</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
