<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-bank-transaction-heading"
        data-cy="BankTransactionCreateUpdateHeading"
        jhiTranslate="autocutApp.bankTransaction.home.createOrEditLabel"
      >
        Create or edit a Bank Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.bookingDate" for="field_bookingDate"
            >Booking Date</label
          >
          <div class="d-flex">
            <input
              id="field_bookingDate"
              data-cy="bookingDate"
              type="datetime-local"
              class="form-control"
              name="bookingDate"
              formControlName="bookingDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('bookingDate')!.invalid && (editForm.get('bookingDate')!.dirty || editForm.get('bookingDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('bookingDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('bookingDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.valueDate" for="field_valueDate">Value Date</label>
          <div class="d-flex">
            <input
              id="field_valueDate"
              data-cy="valueDate"
              type="datetime-local"
              class="form-control"
              name="valueDate"
              formControlName="valueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('valueDate')!.invalid && (editForm.get('valueDate')!.dirty || editForm.get('valueDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valueDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valueDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.value" for="field_value">Value</label>
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          <div *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('value')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.balanceAfter" for="field_balanceAfter"
            >Balance After</label
          >
          <input
            type="number"
            class="form-control"
            name="balanceAfter"
            id="field_balanceAfter"
            data-cy="balanceAfter"
            formControlName="balanceAfter"
          />
          <div
            *ngIf="editForm.get('balanceAfter')!.invalid && (editForm.get('balanceAfter')!.dirty || editForm.get('balanceAfter')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('balanceAfter')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('balanceAfter')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.customerRef" for="field_customerRef"
            >Customer Ref</label
          >
          <input
            type="text"
            class="form-control"
            name="customerRef"
            id="field_customerRef"
            data-cy="customerRef"
            formControlName="customerRef"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.gvCode" for="field_gvCode">Gv Code</label>
          <input type="text" class="form-control" name="gvCode" id="field_gvCode" data-cy="gvCode" formControlName="gvCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.endToEnd" for="field_endToEnd">End To End</label>
          <input type="text" class="form-control" name="endToEnd" id="field_endToEnd" data-cy="endToEnd" formControlName="endToEnd" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.primanota" for="field_primanota">Primanota</label>
          <input type="text" class="form-control" name="primanota" id="field_primanota" data-cy="primanota" formControlName="primanota" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.creditor" for="field_creditor">Creditor</label>
          <input type="text" class="form-control" name="creditor" id="field_creditor" data-cy="creditor" formControlName="creditor" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.mandate" for="field_mandate">Mandate</label>
          <input type="text" class="form-control" name="mandate" id="field_mandate" data-cy="mandate" formControlName="mandate" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.bankAccount" for="field_bankAccount"
            >Bank Account</label
          >
          <select class="form-control" id="field_bankAccount" data-cy="bankAccount" name="bankAccount" formControlName="bankAccount">
            <option *ngIf="!editForm.get('bankAccount')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                bankAccountOption.id === editForm.get('bankAccount')!.value?.id ? editForm.get('bankAccount')!.value : bankAccountOption
              "
              *ngFor="let bankAccountOption of bankAccountsSharedCollection; trackBy: trackBankAccountById"
            >
              {{ bankAccountOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['bankAccount'])!.invalid && (editForm.get(['bankAccount'])!.dirty || editForm.get(['bankAccount'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['bankAccount'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.contraBankAccount" for="field_contraBankAccount"
            >Contra Bank Account</label
          >
          <select
            class="form-control"
            id="field_contraBankAccount"
            data-cy="contraBankAccount"
            name="contraBankAccount"
            formControlName="contraBankAccount"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                bankAccountOption.id === editForm.get('contraBankAccount')!.value?.id
                  ? editForm.get('contraBankAccount')!.value
                  : bankAccountOption
              "
              *ngFor="let bankAccountOption of bankAccountsSharedCollection; trackBy: trackBankAccountById"
            >
              {{ bankAccountOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="autocutApp.bankTransaction.left" for="field_lefts">Left</label>
          <select class="form-control" id="field_lefts" data-cy="left" multiple name="lefts" formControlName="lefts">
            <option
              [ngValue]="getSelectedBankTransaction(bankTransactionOption, editForm.get('lefts')!.value)"
              *ngFor="let bankTransactionOption of bankTransactionsSharedCollection; trackBy: trackBankTransactionById"
            >
              {{ bankTransactionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.bankTransaction.transactionBook" for="field_transactionBook"
            >Transaction Book</label
          >
          <select
            class="form-control"
            id="field_transactionBook"
            data-cy="transactionBook"
            name="transactionBook"
            formControlName="transactionBook"
          >
            <option *ngIf="!editForm.get('transactionBook')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                transactionBookOption.id === editForm.get('transactionBook')!.value?.id
                  ? editForm.get('transactionBook')!.value
                  : transactionBookOption
              "
              *ngFor="let transactionBookOption of transactionBooksSharedCollection; trackBy: trackTransactionBookById"
            >
              {{ transactionBookOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['transactionBook'])!.invalid &&
            (editForm.get(['transactionBook'])!.dirty || editForm.get(['transactionBook'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['transactionBook'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
