.status {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.status-connected {
  background-color: rgb(91, 191, 13);
}

.status-notconnect {
  background-color: #888888;
}

.status-disabled {
  background-color: rgb(226, 15, 15);
}

.status-err-disabled {
  background-color: orange;
}

.max-speed {
  color: rgba(0, 0, 0, 0.4);
}
