<div *ngIf="networkStatus" fxLayout="column" fxLayoutAlign=" center">
  <div [ngClass]="['status', 'status-' + networkStatus.status]"></div>
  <div class="text-center mt-4">
    <span
      ><b>{{ 'internet.status.portStatus.' + networkStatus.status | translate }}</b></span
    >
    <span *ngIf="networkStatus.speed > 0" [innerHTML]="'internet.status.withSpeed' | translate: { speed: networkStatus.speed }"></span>
  </div>
  <div
    *ngIf="networkStatus.speed > 0"
    class="max-speed text-center"
    translate
    [translateParams]="{ speed: networkStatus.maxPossibleSpeed }"
  >
    internet.status.maxSpeed
  </div>
</div>
