<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.tenant.home.title">Tenants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tenant" [routerLink]="['/tenant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="autocutApp.tenant.home.createLabel">
            Create a new Tenant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tenants?.length === 0">
        <span jhiTranslate="autocutApp.tenant.home.notFound">No tenants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tenants && tenants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.tenant.pictureId">Picture Id</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.tenant.verified">Verified</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.tenant.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.tenant.lease">Lease</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tenant of tenants ;trackBy: trackId">
                    <td><a [routerLink]="['/tenant', tenant.id, 'view']">{{ tenant.id }}</a></td>
                    <td>
                        <a *ngIf="tenant.pictureId" (click)="openFile(tenant.pictureIdContentType, tenant.pictureId)">
                            <img [src]="'data:' + tenant.pictureIdContentType + ';base64,' + tenant.pictureId" style="max-height: 30px;" alt="tenant image"/>
                        </a>
                        <span *ngIf="tenant.pictureId">{{ tenant.pictureIdContentType }}, {{ byteSize(tenant.pictureId) }}</span>
                    </td>
                    <td>{{ tenant.verified }}</td>
                    <td>
                        {{ tenant.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="tenant.lease">
                            <a [routerLink]="['/lease', tenant.lease?.id, 'view']" >{{ tenant.lease?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tenant', tenant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tenant', tenant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tenant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
