<div>
  <h2 id="page-heading" data-cy="LaundryMachineHeading">
    <span jhiTranslate="autocutApp.laundryMachine.home.title">Laundry Machines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autocutApp.laundryMachine.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-laundry-machine"
        [routerLink]="['/laundry-machine/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autocutApp.laundryMachine.home.createLabel"> Create a new Laundry Machine </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="laundryMachines?.length === 0">
    <span jhiTranslate="autocutApp.laundryMachine.home.notFound">No laundryMachines found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="laundryMachines && laundryMachines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachine.identifier">Identifier</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachine.name">Name</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachine.type">Type</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachine.enabled">Enabled</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachine.positionX">Position X</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachine.positionY">Position Y</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laundryMachine of laundryMachines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/laundry-machine', laundryMachine.id, 'view']">{{ laundryMachine.id }}</a>
          </td>
          <td>{{ laundryMachine.identifier }}</td>
          <td>{{ laundryMachine.name }}</td>
          <td jhiTranslate="{{ 'autocutApp.LaundryMachineType.' + laundryMachine.type }}">{{ laundryMachine.type }}</td>
          <td>{{ laundryMachine.enabled }}</td>
          <td>{{ laundryMachine.positionX }}</td>
          <td>{{ laundryMachine.positionY }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/laundry-machine', laundryMachine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/laundry-machine', laundryMachine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(laundryMachine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
