<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-network-switch-status-heading"
        data-cy="NetworkSwitchStatusCreateUpdateHeading"
        jhiTranslate="autocutApp.networkSwitchStatus.home.createOrEditLabel"
      >
        Create or edit a Network Switch Status
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.port" for="field_port">Port</label>
          <input type="text" class="form-control" name="port" id="field_port" data-cy="port" formControlName="port" />
          <div *ngIf="editForm.get('port')!.invalid && (editForm.get('port')!.dirty || editForm.get('port')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('port')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.vlan" for="field_vlan">Vlan</label>
          <input type="text" class="form-control" name="vlan" id="field_vlan" data-cy="vlan" formControlName="vlan" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.speed" for="field_speed">Speed</label>
          <input type="text" class="form-control" name="speed" id="field_speed" data-cy="speed" formControlName="speed" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.timestamp" for="field_timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('timestamp')!.invalid && (editForm.get('timestamp')!.dirty || editForm.get('timestamp')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timestamp')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('timestamp')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.networkSwitchStatus.networkSwitch" for="field_networkSwitch"
            >Network Switch</label
          >
          <select
            class="form-control"
            id="field_networkSwitch"
            data-cy="networkSwitch"
            name="networkSwitch"
            formControlName="networkSwitch"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                networkSwitchOption.id === editForm.get('networkSwitch')!.value?.id
                  ? editForm.get('networkSwitch')!.value
                  : networkSwitchOption
              "
              *ngFor="let networkSwitchOption of networkSwitchesSharedCollection; trackBy: trackNetworkSwitchById"
            >
              {{ networkSwitchOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
