<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center" jhiTranslate="about.menu.imprint">Title</h1>
    <hr />
    <div>
      <p class="text-justify">
        Familienwohnheim Rütscher Straße
        <br />
        Rütscher Straße 123 - 125
        <br />
        52072 Aachen
      </p>
      <p>
        <a href="#" class="protected-email" [attr.address-prefix]="dataName" (click)="mailClicked()">farue.rwth-aachen.de</a>
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
