<div class="row justify-content-center">
    <div class="col card-content">
        <h1 class="text-capitalize text-center" jhiTranslate="washing-team.title">Title</h1>
        <h5 class="text-center" jhiTranslate="washing-team.subtitle">Subtitle</h5>
        <hr/>
        <div class="container my-2">
            <div class="row justify-content-md-start">
                <div class="col col-sm-4 px-sm-2"
                     jhiTranslate="washing-team.spokesperson.{{false? 'title-m' : 'title-f'}}">Wasch AG Sprecher
                </div>
                <div class="col col-sm-4 px-sm-2" jhiTranslate="washing-team.spokesperson.name">Name</div>
                <div class="col col-sm-4 px-sm-2" jhiTranslate="washing-team.spokesperson.apartment">123/45</div>
            </div>
            <div class="row justify-content-md-start">
                <div class="col col-sm-4 px-sm-2"
                     jhiTranslate="washing-team.deputy.{{true? 'title-m' : 'title-f'}}">Wasch AG Sprecher
                </div>
                <div class="col col-sm-4 px-sm-2" jhiTranslate="washing-team.deputy.name">Name</div>
                <div class="col col-sm-4 px-sm-2" jhiTranslate="washing-team.deputy.apartment">Name</div>
            </div>
        </div>
        <p class="text-justify" jhiTranslate="washing-team.content.text1">Content1</p>
        <div class="table-responsive-md">
            <table class="table table-dark table-hover">
                <thead class="thead-dark">
                <tr>
                    <th jhiTranslate="washing-team.content.table.name">Name</th>
                    <th jhiTranslate="washing-team.content.table.apartment">Whohnungsnr.</th>
                    <th jhiTranslate="washing-team.content.table.salesTime">Erreichbarkeit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Hakan Yildiz</td>
                    <td>123/15</td>
                    <td>Mo 17:00-19:00 Uhr</td>
                </tr>
                <tr>
                    <td>Ugne Potthoff</td>
                    <td>123/04</td>
                    <td>Di 17:00-19:00 Uhr</td>
                </tr>
                <tr>
                    <td>Joelle Dako</td>
                    <td>125/12</td>
                    <td>Mi 18:00-20:00 Uhr</td>
                </tr>
                <tr>
                    <td>Flora Djiepmeni</td>
                    <td>123/35</td>
                    <td>Fr 18:00-20:00 Uhr</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="text-justify" jhiTranslate="washing-team.content.text2">Content2</p>
        <p class="text-justify" jhiTranslate="washing-team.content.text3">Content3</p>
    </div>
</div>
