<!--<div gdAlignRows=" center" gdColumns="repeat(auto-fit, 300px)" gdGap="8px">-->
<div>
  <div gdAlignRows=" center" gdColumns="repeat(auto-fit, minmax(280px, 1fr))" gdGap="16px">
    <div *ngFor="let contact of contacts" class="card-wrapper w-100">
      <a [href]="'/contact/' + contact.name" class="text-decoration-none">
        <mat-card class="h-100">
          <mat-card-title>{{ 'contact.cards.' + contact.name + '.title' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'contact.cards.' + contact.name + '.subtitle' | translate }}</mat-card-subtitle>
        </mat-card>
      </a>
    </div>
  </div>
</div>
