<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.lease.home.title">Leases</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lease" [routerLink]="['/lease/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="autocutApp.lease.home.createLabel">
            Create a new Lease
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="leases?.length === 0">
        <span jhiTranslate="autocutApp.lease.home.notFound">No leases found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="leases && leases.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.lease.nr">Nr</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.lease.start">Start</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.lease.end">End</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.lease.blocked">Blocked</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.lease.pictureContract">Picture Contract</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.lease.apartment">Apartment</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lease of leases ;trackBy: trackId">
                    <td><a [routerLink]="['/lease', lease.id, 'view']">{{ lease.id }}</a></td>
                    <td>{{ lease.nr }}</td>
                    <td>{{ lease.start | date:'medium' }}</td>
                    <td>{{ lease.end | date:'medium' }}</td>
                    <td>{{ lease.blocked }}</td>
                    <td>
                        <a *ngIf="lease.pictureContract" (click)="openFile(lease.pictureContractContentType, lease.pictureContract)">
                            <img [src]="'data:' + lease.pictureContractContentType + ';base64,' + lease.pictureContract" style="max-height: 30px;" alt="lease image"/>
                        </a>
                        <span *ngIf="lease.pictureContract">{{ lease.pictureContractContentType }}, {{ byteSize(lease.pictureContract) }}</span>
                    </td>
                    <td>
                        <div *ngIf="lease.apartment">
                            <a [routerLink]="['/apartment', lease.apartment?.id, 'view']" >{{ lease.apartment?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/lease', lease.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/lease', lease.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lease)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
