<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.teamMember.home.title">Team Members</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-team-member" [routerLink]="['/team-member/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="autocutApp.teamMember.home.createLabel">
            Create a new Team Member
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="teamMembers?.length === 0">
        <span jhiTranslate="autocutApp.teamMember.home.notFound">No teamMembers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="teamMembers && teamMembers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.teamMember.role">Role</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.teamMember.tenant">Tenant</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.teamMember.team">Team</span></th>
                <th scope="col"><span jhiTranslate="autocutApp.teamMember.activity">Activity</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teamMember of teamMembers ;trackBy: trackId">
                    <td><a [routerLink]="['/team-member', teamMember.id, 'view']">{{ teamMember.id }}</a></td>
                    <td jhiTranslate="{{ 'autocutApp.TeamRole.' + teamMember.role }}">{{ teamMember.role }}</td>
                    <td>
                        <div *ngIf="teamMember.tenant">
                            <a [routerLink]="['/tenant', teamMember.tenant?.id, 'view']" >{{ teamMember.tenant?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="teamMember.team">
                            <a [routerLink]="['/team', teamMember.team?.id, 'view']" >{{ teamMember.team?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="teamMember.activity">
                            <a [routerLink]="['/activity', teamMember.activity?.id, 'view']" >{{ teamMember.activity?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/team-member', teamMember.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/team-member', teamMember.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(teamMember)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
