<div class="row justify-content-center">
  <div class="col-md-8">
    <div *ngIf="networkStatus">
      <h2 translate>internet.status.title</h2>
      <div fxLayout="column" fxLayoutAlign=" center">
        <jhi-internet-status [networkStatus]="networkStatus"></jhi-internet-status>
        <button mat-flat-button [loading]="updatingStatus" (click)="updateStatus()" color="primary" class="button-update mt-4 mb-2">
          <span translate>internet.status.update</span>
        </button>
        <div class="last-updated">
          {{ 'internet.status.lastUpdate' | translate: { timestamp: networkStatus.lastUpdate | i18nDate: undefined:'L LT' } }}
        </div>
      </div>

      <div class="mt-4">
        <mat-accordion multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header
              [collapsedHeight]="(mediaService.isXs$ | async) ? '72px' : ''"
              [expandedHeight]="(mediaService.isXs$ | async) ? '96px' : ''"
            >
              <span translate>internet.help.status.title</span>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="dataSourceStatusHelp" fxFill>
              <ng-container matColumnDef="symbol">
                <td mat-cell *matCellDef="let element" class="pr-2 py-1">
                  <div [ngClass]="['status', 'status-' + element.status]"></div>
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <td mat-cell *matCellDef="let element" class="pr-2">
                  <b>{{ 'internet.status.portStatus.' + element.status | translate }}</b>
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <td mat-cell *matCellDef="let element">
                  <div [innerHTML]="'internet.help.status.' + element.status | translate"></div>
                </td>
              </ng-container>

              <tr mat-row *matRowDef="let row; columns: ['symbol', 'status', 'description']"></tr>
            </table>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header
              [collapsedHeight]="(mediaService.isXs$ | async) ? '72px' : ''"
              [expandedHeight]="(mediaService.isXs$ | async) ? '96px' : ''"
            >
              <span translate>internet.help.speedSlowerThanMax.title</span>
            </mat-expansion-panel-header>
            <p [innerHTML]="'internet.help.speedSlowerThanMax.description' | translate"></p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header
              [collapsedHeight]="(mediaService.isXs$ | async) ? '72px' : ''"
              [expandedHeight]="(mediaService.isXs$ | async) ? '96px' : ''"
            >
              <span translate>internet.help.actualSpeedSlow.title</span>
            </mat-expansion-panel-header>
            <p [innerHTML]="'internet.help.actualSpeedSlow.description1' | translate"></p>
            <p [innerHTML]="'internet.help.actualSpeedSlow.description2' | translate"></p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="mt-4">
      <h2 translate>internet.description.title</h2>
      <p translate>internet.description.text</p>
    </div>

    <div>
      <h3 translate>internet.ipData.title</h3>

      <div *ngIf="error" class="alert alert-danger">
        <span translate>internet.messages.error.loadingIpFailed</span>
      </div>

      <table mat-table [dataSource]="dataSourceIpData" fxFill>
        <ng-container matColumnDef="key">
          <td mat-cell *matCellDef="let element">{{ element.key | translate }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['key', 'value']"></tr>
      </table>
    </div>

    <div>
      <h2 jhiTranslate="internet.troubleshooting.title">Troubleshooting</h2>
      <p jhiTranslate="internet.troubleshooting.p1">
        If your internet was working before and suddenly stopped working, troubleshoot the problem with the following steps:
      </p>
      <ol>
        <li jhiTranslate="internet.troubleshooting.step1">make sure your account balance is not negative</li>
        <li jhiTranslate="internet.troubleshooting.step2">restart the router</li>
        <li jhiTranslate="internet.troubleshooting.step3">check if the static IP configuration is correct</li>
        <li jhiTranslate="internet.troubleshooting.step4">verify the cable is okay, try a different one if available</li>
        <li jhiTranslate="internet.troubleshooting.step5">reset the router and enter the static IP configuration again</li>
        <li jhiTranslate="internet.troubleshooting.step6">
          try connecting a computer directly (make sure to configure the static IP on the computer)
        </li>
      </ol>
    </div>
  </div>
</div>
