<div class="row justify-content-center">
  <div class="col-md-8">
    <div>
      <h2 jhiTranslate="internet.description.title">We use static IPs</h2>
      <p jhiTranslate="internet.description.text">
        You are probably used to simply plugging one end of an ethernet cable into your router and the other end into the ethernet jack and
        just like that you can browse the internet. This relies on a protocol called DHCP that automatically provides an IP address and
        other access data to your router. We have not (yet) implemented this service so you need to manually configure this data. Most
        routers allow this configuration under a menu entry called "WAN" or "Internet". If this is not the case for your router model,
        please consult the manual.
      </p>
    </div>
    <div>
      <h2 jhiTranslate="internet.ipData.title">Your IP</h2>

      <div *ngIf="error" class="alert alert-danger">
        <span translate>internet.messages.error.loadingIpFailed</span>
      </div>

      <table mat-table [dataSource]="dataSource1" fxFill>
        <ng-container matColumnDef="key">
          <td mat-cell *matCellDef="let element">{{ element.key | translate }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div>
      <h2 jhiTranslate="internet.troubleshooting.title">Troubleshooting</h2>
      <p jhiTranslate="internet.troubleshooting.p1">
        If your internet was working before and suddenly stopped working, troubleshoot the problem with the following steps:
      </p>
      <ol>
        <li jhiTranslate="internet.troubleshooting.step1">make sure your account balance is not negative</li>
        <li jhiTranslate="internet.troubleshooting.step2">restart the router</li>
        <li jhiTranslate="internet.troubleshooting.step3">check if the static IP configuration is correct</li>
        <li jhiTranslate="internet.troubleshooting.step4">verify the cable is okay, try a different one if available</li>
        <li jhiTranslate="internet.troubleshooting.step5">reset the router and enter the static IP configuration again</li>
        <li jhiTranslate="internet.troubleshooting.step6">
          try connecting a computer directly (make sure to configure the static IP on the computer)
        </li>
      </ol>
    </div>
  </div>
</div>
