.toggle-label {
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  line-height: initial;
}

.button-rotate {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group-laundry-machines {
  row-gap: 40px;
}

.button-toggle-no-border-left {
  border-left: none !important;
}

.button-toggle-border-top {
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.button-toggle-border-bottom {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.button-toggle-border-right {
  border-right: solid 1px rgba(0, 0, 0, 0.12);
}

.mat-button-toggle-group-appearance-standard {
  .mat-button-toggle + .placeholder,
  .placeholder + .mat-button-toggle,
  .placeholder + .placeholder {
    border-left: solid 1px rgba(0, 0, 0, 0.12);
  }
}
