<div class="py-1 mat-row mat-cell table-item">
  <div fxLayout="column" fxLayoutGap="8px" [ngClass]="{ 'future-transaction': isFuture(transaction.valueDate!) }">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <mat-icon *ngIf="isFuture(transaction.valueDate!)" inline>schedule</mat-icon>
        {{ transaction.valueDate | i18nDate }}
      </div>
      <div
        class="text-nowrap"
        [ngClass]="{ 'balance-normal': transaction.balanceAfter! >= 0, 'balance-negative': transaction.balanceAfter! < 0 }"
      >
        {{ transaction.balanceAfter | i18nCurrency }}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="32px">
      <div fxLayout="column" fxFlexOffset="5%" class="flex-child">
        <div class="mat-h4 flex-child">{{ transaction.issuer }}</div>
        <div *ngIf="transaction.description" class="mat-h2 flex-child">{{ transaction.description }}</div>
      </div>
      <div
        fxFlexAlign="center"
        class="mat-h2 text-nowrap"
        [ngClass]="{ 'value-normal': transaction.value! >= 0, 'value-negative': transaction.value! < 0 }"
      >
        {{ transaction.value | i18nCurrency }}
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
      <div fxFlexOffset="5%" class="text-md-emph">{{ 'autocutApp.TransactionKind.' + transaction.type | translate }}</div>
      <div *ngIf="!isEqual(transaction.valueDate!, transaction.bookingDate!)" class="mat-small flex-child text-right text-md-emph">
        <span translate>transaction.booked</span> {{ transaction.bookingDate | i18nDate: undefined:'L LT' }}
      </div>
    </div>
  </div>
</div>
