<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center" jhiTranslate="statutes.title">Title</h1>
    <hr />

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="general" jhiTranslate="statutes.menu.general">General Statute</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="network" jhiTranslate="statutes.menu.network">Network Statute</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="assignment" jhiTranslate="statutes.menu.assignment">Assignment Statute</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="washing" jhiTranslate="statutes.menu.washing">Washing Statute</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="tools" jhiTranslate="statutes.menu.tools">Tool Rental Statute</a>
      </li>
    </ul>

    <router-outlet></router-outlet>
  </div>
  <div class="col-md-1"></div>
</div>
