<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transaction-heading"
        data-cy="TransactionCreateUpdateHeading"
        jhiTranslate="autocutApp.transaction.home.createOrEditLabel"
      >
        Create or edit a Transaction
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.kind" for="field_kind">Kind</label>
          <select class="form-control" name="kind" formControlName="kind" id="field_kind" data-cy="kind">
            <option [ngValue]="null">{{ 'autocutApp.TransactionKind.null' | translate }}</option>
            <option value="FEE">{{ 'autocutApp.TransactionKind.FEE' | translate }}</option>
            <option value="CREDIT">{{ 'autocutApp.TransactionKind.CREDIT' | translate }}</option>
            <option value="DEBIT">{{ 'autocutApp.TransactionKind.DEBIT' | translate }}</option>
            <option value="TRANSFER">{{ 'autocutApp.TransactionKind.TRANSFER' | translate }}</option>
            <option value="CORRECTION">{{ 'autocutApp.TransactionKind.CORRECTION' | translate }}</option>
            <option value="PURCHASE">{{ 'autocutApp.TransactionKind.PURCHASE' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('kind')!.invalid && (editForm.get('kind')!.dirty || editForm.get('kind')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('kind')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.bookingDate" for="field_bookingDate">Booking Date</label>
          <div class="d-flex">
            <input
              id="field_bookingDate"
              data-cy="bookingDate"
              type="datetime-local"
              class="form-control"
              name="bookingDate"
              formControlName="bookingDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('bookingDate')!.invalid && (editForm.get('bookingDate')!.dirty || editForm.get('bookingDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('bookingDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('bookingDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.valueDate" for="field_valueDate">Value Date</label>
          <div class="d-flex">
            <input
              id="field_valueDate"
              data-cy="valueDate"
              type="datetime-local"
              class="form-control"
              name="valueDate"
              formControlName="valueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('valueDate')!.invalid && (editForm.get('valueDate')!.dirty || editForm.get('valueDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('valueDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('valueDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.value" for="field_value">Value</label>
          <input type="number" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
          <div *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('value')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.balanceAfter" for="field_balanceAfter"
            >Balance After</label
          >
          <input
            type="number"
            class="form-control"
            name="balanceAfter"
            id="field_balanceAfter"
            data-cy="balanceAfter"
            formControlName="balanceAfter"
          />
          <div
            *ngIf="editForm.get('balanceAfter')!.invalid && (editForm.get('balanceAfter')!.dirty || editForm.get('balanceAfter')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('balanceAfter')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('balanceAfter')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.serviceQulifier" for="field_serviceQulifier"
            >Service Qulifier</label
          >
          <input
            type="text"
            class="form-control"
            name="serviceQulifier"
            id="field_serviceQulifier"
            data-cy="serviceQulifier"
            formControlName="serviceQulifier"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.issuer" for="field_issuer">Issuer</label>
          <input type="text" class="form-control" name="issuer" id="field_issuer" data-cy="issuer" formControlName="issuer" />
          <div *ngIf="editForm.get('issuer')!.invalid && (editForm.get('issuer')!.dirty || editForm.get('issuer')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('issuer')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.recipient" for="field_recipient">Recipient</label>
          <input type="text" class="form-control" name="recipient" id="field_recipient" data-cy="recipient" formControlName="recipient" />
        </div>

        <div class="form-group">
          <label jhiTranslate="autocutApp.transaction.left" for="field_lefts">Left</label>
          <select class="form-control" id="field_lefts" data-cy="left" multiple name="lefts" formControlName="lefts">
            <option
              [ngValue]="getSelectedTransaction(transactionOption, editForm.get('lefts')!.value)"
              *ngFor="let transactionOption of transactionsSharedCollection; trackBy: trackTransactionById"
            >
              {{ transactionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.transaction.transactionBook" for="field_transactionBook"
            >Transaction Book</label
          >
          <select
            class="form-control"
            id="field_transactionBook"
            data-cy="transactionBook"
            name="transactionBook"
            formControlName="transactionBook"
          >
            <option *ngIf="!editForm.get('transactionBook')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                transactionBookOption.id === editForm.get('transactionBook')!.value?.id
                  ? editForm.get('transactionBook')!.value
                  : transactionBookOption
              "
              *ngFor="let transactionBookOption of transactionBooksSharedCollection; trackBy: trackTransactionBookById"
            >
              {{ transactionBookOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['transactionBook'])!.invalid &&
            (editForm.get(['transactionBook'])!.dirty || editForm.get(['transactionBook'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['transactionBook'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
