<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h6 class="text-right">{{message}}</h6>
        <h1 class="text-capitalize text-center" jhiTranslate="self-administration.title">Title</h1>
        <h5 class="text-center" jhiTranslate="self-administration.subtitle">Subtitle</h5>
        <hr/>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="/self-administration/spokesman"
                   jhiTranslate="global.menu.spokesman">Spokesman</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="./assignment-committee"
                   jhiTranslate="global.menu.assignment-committee">Assignment Committee</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="/self-administration/janitor"
                   jhiTranslate="global.menu.janitor">Janitor</a>
            </li>
        </ul>

        <router-outlet></router-outlet>
    </div>
    <div class="col-md-1"></div>
</div>
