<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 class="text-center" jhiTranslate="statutes-general.title">Title</h1>
        <h6 class="text-right" jhiTranslate="statutes-general.version">Version from 01.01.2000</h6>
        <hr/>
        <div class="text-justify">
            <div>
                <h5 jhiTranslate="statutes-general.section1.title">Section 1</h5>
                <p jhiTranslate="statutes-general.section1.par1"></p>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section2.title">Section 2</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section2.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section2.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section2.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section2.ol1.item4">item 4</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section3.title">Section 3</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section3.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section3.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section3.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section3.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section3.ol1.item5">item 5</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section4.title">Section 4</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section4.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section4.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section4.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section4.ol1.item4">item 4</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section5.title">Section 5</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section5.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section5.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section5.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section5.ol1.item4">item 4</li>
                    <li>
                        <span jhiTranslate="statutes-general.section5.ol1.item5.par1">Die Mitgliedschaft endet</span>
                        <ol>
                            <li>
                                <span jhiTranslate="statutes-general.section5.ol1.item5.ol1.item1.par1">durch Austritt,</span>
                                <ul>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item1.ul1.item1">Der Austritt...</li>
                                </ul>
                            </li>
                            <li>
                                <span jhiTranslate="statutes-general.section5.ol1.item5.ol1.item2.par1"></span>
                                <ul>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item2.ul1.item1"></li>
                                </ul>
                            </li>
                            <li jhiTranslate="statutes-general.section5.ol1.item5.ol1.item3"></li>
                            <li>
                                <span jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.par1"></span>
                                <ul>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.ul1.item1"></li>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.ul1.item2"></li>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.ul1.item3"></li>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.ul1.item4"></li>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.ul1.item5"></li>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item4.ul1.item6"></li>
                                </ul>
                            </li>
                            <li>
                                <span jhiTranslate="statutes-general.section5.ol1.item5.ol1.item5.par1"></span>
                                <ul>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item5.ul1.item1"></li>
                                    <li  jhiTranslate="statutes-general.section5.ol1.item5.ol1.item5.ul1.item2"></li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li jhiTranslate="statutes-general.section5.ol1.item6">item 6</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section6.title">Section 6</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section6.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section6.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section6.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section6.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section6.ol1.item5">item 5</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section7.title">Section 7</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section7.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section7.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section7.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section7.ol1.item4">item 4</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section8.title">Section 8</h5>
                <p jhiTranslate="statutes-general.section8.par1"></p>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section9.title">Section 9</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section9.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item5">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item6">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item7">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item8">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item9">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item10">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item11">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item12">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item13">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item14">item 4</li>
                    <li jhiTranslate="statutes-general.section9.ol1.item15">item 4</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section10.title">Section 10</h5>
                <ol>
                    <li>
                        <span jhiTranslate="statutes-general.section10.ol1.item1.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-general.section10.ol1.item1.ul1.item1"></li>
                            <li jhiTranslate="statutes-general.section10.ol1.item1.ul1.item2"></li>
                            <li jhiTranslate="statutes-general.section10.ol1.item1.ul1.item3"></li>
                            <li jhiTranslate="statutes-general.section10.ol1.item1.ul1.item4"></li>
                            <li jhiTranslate="statutes-general.section10.ol1.item1.ul1.item5"></li>
                        </ul>
                        <span jhiTranslate="statutes-general.section10.ol1.item1.par2"></span>
                    </li>
                    <li jhiTranslate="statutes-general.section10.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item5">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item6">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item7">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item8">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item9">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item10">item 4</li>
                    <li jhiTranslate="statutes-general.section10.ol1.item11">item 4</li>
                    <li>
                        <span jhiTranslate="statutes-general.section10.ol1.item12.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-general.section10.ol1.item12.ul1.item1"></li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section11.title">Section 11</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section11.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section11.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section11.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section11.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section11.ol1.item5">item 5</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section12.title">Section 12</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section12.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section12.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section12.ol1.item3">item 3</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section13.title">Section 13</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section13.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section13.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section13.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section13.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section13.ol1.item5">item 5</li>
                    <li jhiTranslate="statutes-general.section13.ol1.item6">item 6</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section14.title">Section 14</h5>
                <ol>
                    <li>
                        <span jhiTranslate="statutes-general.section14.ol1.item1.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-general.section14.ol1.item1.ul1.item1"></li>
                        </ul>
                        <span jhiTranslate="statutes-general.section14.ol1.item1.par2"></span>
                    </li>
                    <li jhiTranslate="statutes-general.section14.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section14.ol1.item3">item 3</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section15.title">Section 15</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section15.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section15.ol1.item2">item 2</li>
                    <li>
                        <span jhiTranslate="statutes-general.section15.ol1.item3.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-general.section15.ol1.item3.ul1.item1"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item3.ul1.item2"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item3.ul1.item3"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item3.ul1.item4"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item3.ul1.item5"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item3.ul1.item6"></li>
                        </ul>
                    </li>
                    <li>
                        <span jhiTranslate="statutes-general.section15.ol1.item4.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-general.section15.ol1.item4.ul1.item1"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item4.ul1.item2"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item4.ul1.item3"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item4.ul1.item4"></li>
                        </ul>
                    </li>
                    <li>
                        <span jhiTranslate="statutes-general.section15.ol1.item5.par1"></span>
                        <ul>
                            <li jhiTranslate="statutes-general.section15.ol1.item5.ul1.item1"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item5.ul1.item2"></li>
                            <li jhiTranslate="statutes-general.section15.ol1.item5.ul1.item3"></li>
                        </ul>
                    </li>
                    <li jhiTranslate="statutes-general.section15.ol1.item6">item 6</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section16.title">Section 13</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section16.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section16.ol1.item2">item 2</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section17.title">Section 13</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section17.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section17.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section17.ol1.item3">item 3</li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section18.title">Section 13</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section18.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section18.ol1.item2">item 2</li>
                    <li jhiTranslate="statutes-general.section18.ol1.item3">item 3</li>
                    <li jhiTranslate="statutes-general.section18.ol1.item4">item 4</li>
                    <li jhiTranslate="statutes-general.section18.ol1.item5">item 5</li>
                    <li>
                        <span jhiTranslate="statutes-general.section18.ol1.item6.par1"></span>
                        <ol>
                            <li jhiTranslate="statutes-general.section18.ol1.item6.ol1.item1"></li>
                            <li jhiTranslate="statutes-general.section18.ol1.item6.ol1.item2"></li>
                            <li jhiTranslate="statutes-general.section18.ol1.item6.ol1.item3"></li>
                        </ol>
                    </li>
                </ol>
            </div>
            <div>
                <h5 jhiTranslate="statutes-general.section19.title">Section 13</h5>
                <ol>
                    <li jhiTranslate="statutes-general.section19.ol1.item1">item 1</li>
                    <li jhiTranslate="statutes-general.section19.ol1.item2">item 2</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
