<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="broadcastMessage">
      <h2 data-cy="broadcastMessageDetailsHeading">
        <span jhiTranslate="autocutApp.broadcastMessage.detail.title">Broadcast Message</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ broadcastMessage.id }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessage.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'autocutApp.BroadcastMessageType.' + broadcastMessage.type }}">{{ broadcastMessage.type }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessage.start">Start</span></dt>
        <dd>
          <span>{{ broadcastMessage.start | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessage.end">End</span></dt>
        <dd>
          <span>{{ broadcastMessage.end | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessage.usersOnly">Users Only</span></dt>
        <dd>
          <span>{{ broadcastMessage.usersOnly }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.broadcastMessage.dismissible">Dismissible</span></dt>
        <dd>
          <span>{{ broadcastMessage.dismissible }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/broadcast-message', broadcastMessage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
