<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-center" jhiTranslate="statutes-tools.title">Title</h1>
    <h6 class="text-right" jhiTranslate="statutes-tools.version">Version from 01.01.2000</h6>
    <hr />
    <div class="text-justify">
      <div>
        <h5 jhiTranslate="statutes-tools.section1.title">Section 1</h5>
        <p jhiTranslate="statutes-tools.section1.par1"></p>
        <p jhiTranslate="statutes-tools.section1.par2"></p>
        <p jhiTranslate="statutes-tools.section1.par3"></p>
      </div>
      <div>
        <h5 jhiTranslate="statutes-tools.section2.title">Section 3</h5>
        <ol>
          <li>
            <span jhiTranslate="statutes-tools.section2.ol1.item1.par1"></span>
            <ul>
              <li jhiTranslate="statutes-tools.section2.ol1.item1.ul1.item1"></li>
              <li jhiTranslate="statutes-tools.section2.ol1.item1.ul1.item2"></li>
            </ul>
            <span jhiTranslate="statutes-tools.section2.ol1.item1.par2"></span>
          </li>
          <li jhiTranslate="statutes-tools.section2.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-tools.section2.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-tools.section2.ol1.item4">item 4</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-tools.section3.title">Section 3</h5>
        <ol>
          <li jhiTranslate="statutes-tools.section3.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-tools.section3.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-tools.section3.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-tools.section3.ol1.item4">item 4</li>
          <li jhiTranslate="statutes-tools.section3.ol1.item5">item 5</li>
          <li jhiTranslate="statutes-tools.section3.ol1.item6">item 6</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-tools.section4.title">Section 5</h5>
        <ol>
          <li jhiTranslate="statutes-tools.section4.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-tools.section4.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-tools.section4.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-tools.section4.ol1.item4">item 4</li>
          <li jhiTranslate="statutes-tools.section4.ol1.item5">item 5</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-tools.section5.title">Section 5</h5>
        <ol>
          <li>
            <span jhiTranslate="statutes-tools.section5.ol1.item1.par1"></span>
            <ul>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item1"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item2"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item3"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item4"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item5"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item6"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul1.item7"></li>
            </ul>
            <span jhiTranslate="statutes-tools.section5.ol1.item1.par2"></span>
            <ul>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul2.item1"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul2.item2"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul2.item3"></li>
              <li jhiTranslate="statutes-tools.section5.ol1.item1.ul2.item4"></li>
            </ul>
          </li>
          <li jhiTranslate="statutes-tools.section5.ol1.item2">item 2</li>
          <li jhiTranslate="statutes-tools.section5.ol1.item3">item 3</li>
          <li jhiTranslate="statutes-tools.section5.ol1.item4">item 4</li>
          <li jhiTranslate="statutes-tools.section5.ol1.item5">item 5</li>
          <li jhiTranslate="statutes-tools.section5.ol1.item6">item 6</li>
        </ol>
      </div>
      <div>
        <h5 jhiTranslate="statutes-tools.section6.title">Section 6</h5>
        <ol>
          <li jhiTranslate="statutes-tools.section6.ol1.item1">item 1</li>
          <li jhiTranslate="statutes-tools.section6.ol1.item2">item 2</li>
          <li>
            <span jhiTranslate="statutes-tools.section6.ol1.item3.par1"></span>
            <ul>
              <li jhiTranslate="statutes-tools.section6.ol1.item3.ul1.item1"></li>
              <li jhiTranslate="statutes-tools.section6.ol1.item3.ul1.item2"></li>
            </ul>
          </li>
          <li jhiTranslate="statutes-tools.section6.ol1.item4">item 4</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
