<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="laundryProgram">
      <h2 data-cy="laundryProgramDetailsHeading"><span jhiTranslate="autocutApp.laundryProgram.detail.title">Laundry Program</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ laundryProgram.id }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryProgram.name">Name</span></dt>
        <dd>
          <span>{{ laundryProgram.name }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryProgram.subprogram">Subprogram</span></dt>
        <dd>
          <span>{{ laundryProgram.subprogram }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryProgram.spin">Spin</span></dt>
        <dd>
          <span>{{ laundryProgram.spin }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryProgram.preWash">Pre Wash</span></dt>
        <dd>
          <span>{{ laundryProgram.preWash }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryProgram.protect">Protect</span></dt>
        <dd>
          <span>{{ laundryProgram.protect }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/laundry-program', laundryProgram.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
