<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-laundry-machine-program-heading" jhiTranslate="autocutApp.laundryMachineProgram.home.createOrEditLabel">Create or edit a Laundry Machine Program</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.time" for="field_time">Time</label>
                    <input type="number" class="form-control" name="time" id="field_time"
                           formControlName="time"/>
                    <div *ngIf="editForm.get('time')!.invalid && (editForm.get('time')!.dirty || editForm.get('time')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('time')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('time')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.temperature" for="field_temperature">Temperature</label>
                    <input type="number" class="form-control" name="temperature" id="field_temperature"
                           formControlName="temperature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.spin" for="field_spin">Spin</label>
                    <input type="number" class="form-control" name="spin" id="field_spin"
                           formControlName="spin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.preWash" for="field_preWash">Pre Wash</label>
                    <input type="checkbox" class="form-control" name="preWash" id="field_preWash"
                           formControlName="preWash"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.protect" for="field_protect">Protect</label>
                    <input type="checkbox" class="form-control" name="protect" id="field_protect"
                           formControlName="protect"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.shortCycle" for="field_shortCycle">Short Cycle</label>
                    <input type="checkbox" class="form-control" name="shortCycle" id="field_shortCycle"
                           formControlName="shortCycle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.wrinkle" for="field_wrinkle">Wrinkle</label>
                    <input type="checkbox" class="form-control" name="wrinkle" id="field_wrinkle"
                           formControlName="wrinkle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="autocutApp.laundryMachineProgram.laundryMachine" for="field_laundryMachine">Laundry Machine</label>
                    <select class="form-control" id="field_laundryMachine" name="laundryMachine" formControlName="laundryMachine">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="laundryMachineOption.id === editForm.get('laundryMachine')!.value?.id ? editForm.get('laundryMachine')!.value : laundryMachineOption" *ngFor="let laundryMachineOption of laundrymachines; trackBy: trackById">{{laundryMachineOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
