<div>
  <div fxFlex fxLayoutAlign="center">
    <div fxLayout="column" class="register-container">
      <button mat-button color="primary" routerLink="/login" type="button" fxFlexAlign="end">
        <span translate>register.login</span>
      </button>
      <h1 data-cy="registerTitle">{{ 'register.title' | translate }}</h1>

      <!-- Switching between vertical and horizontal stepper has to be done by completely removing it from the DOM -->
      <!-- so that inputs in the form fields are correctly updated. Using "fxHide fxShow.lt-md" does not work as  -->
      <!-- form inputs will not show up in the form fields after resize. -->
      <mat-horizontal-stepper
        #stepper
        *ngIf="!verticalStepper"
        (selectionChange)="selectionChanged($event)"
        (animationDone)="animationEnd = true"
        [selectedIndex]="selectedIndex"
        labelPosition="bottom"
        linear
      >
        <mat-step [stepControl]="userForm" [editable]="!success" [label]="'register.form.steps.user' | translate">
          <ng-container [ngTemplateOutlet]="stepOne"></ng-container>
          <button #nextButton mat-button matStepperNext [disabled]="userForm.invalid" type="button" [@heartBeat]="!nextButton.disabled">
            <span translate>register.form.buttons.next</span>
          </button>
        </mat-step>
        <mat-step [stepControl]="personForm" [editable]="!success" [label]="'register.form.steps.person' | translate">
          <ng-container [ngTemplateOutlet]="stepTwo"></ng-container>
          <button mat-button matStepperPrevious type="button"><span translate>register.form.buttons.back</span></button>
          <button #nextButton mat-button matStepperNext [disabled]="personForm.invalid" type="button" [@heartBeat]="!nextButton.disabled">
            <span translate>register.form.buttons.next</span>
          </button>
        </mat-step>
        <mat-step [editable]="!success" [label]="'register.form.steps.documents' | translate">
          <ng-container [ngTemplateOutlet]="stepThree"></ng-container>
          <button mat-button matStepperPrevious type="button"><span translate>register.form.buttons.back</span></button>
          <button #nextButton mat-button type="button" [loading]="loading" (click)="register()" [@heartBeat]="!nextButton.disabled">
            <span translate>register.form.buttons.submit</span>
          </button>
        </mat-step>
        <mat-step [label]="'register.form.steps.done' | translate">
          <ng-container [ngTemplateOutlet]="stepFour"></ng-container>
        </mat-step>
      </mat-horizontal-stepper>

      <mat-vertical-stepper
        #stepper
        *ngIf="verticalStepper"
        (selectionChange)="selectionChanged($event)"
        (animationDone)="animationEnd = true"
        [selectedIndex]="selectedIndex"
        linear
      >
        <mat-step [stepControl]="userForm" [editable]="!success" [label]="'register.form.steps.user' | translate">
          <ng-container [ngTemplateOutlet]="stepOne"></ng-container>
          <button #nextButton mat-button matStepperNext [disabled]="userForm.invalid" type="button" [@heartBeat]="!nextButton.disabled">
            <span translate>register.form.buttons.next</span>
          </button>
        </mat-step>
        <mat-step [stepControl]="personForm" [editable]="!success" [label]="'register.form.steps.person' | translate">
          <ng-container [ngTemplateOutlet]="stepTwo"></ng-container>
          <button mat-button matStepperPrevious type="button"><span translate>register.form.buttons.back</span></button>
          <button #nextButton mat-button matStepperNext [disabled]="personForm.invalid" type="button" [@heartBeat]="!nextButton.disabled">
            <span translate>register.form.buttons.next</span>
          </button>
        </mat-step>
        <mat-step [editable]="!success" [label]="'register.form.steps.documents' | translate">
          <ng-container [ngTemplateOutlet]="stepThree"></ng-container>
          <button mat-button matStepperPrevious type="button"><span translate>register.form.buttons.back</span></button>
          <button #nextButton mat-button type="button" [loading]="loading" (click)="register()" [@heartBeat]="!nextButton.disabled">
            <span translate>register.form.buttons.submit</span>
          </button>
        </mat-step>
        <mat-step [editable]="!success" [label]="'register.form.steps.done' | translate">
          <ng-container [ngTemplateOutlet]="stepFour"></ng-container>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>

<ng-template #stepOne>
  <form name="form" role="form" (ngSubmit)="register()" [formGroup]="userForm">
    <div fxLayout="column" fxLayoutGap="16px grid">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'global.form.username.label' | translate }}</mat-label>
        <input #login type="text" matInput formControlName="login" autocomplete="username" data-cy="username" />
        <mat-hint align="end">{{ login.value?.length || 0 }} / 50</mat-hint>
        <mat-error *ngIf="userForm.get('login')?.hasError('required')">{{
          'register.messages.validate.login.required' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('login')?.hasError('minlength')">{{
          'register.messages.validate.login.minlength' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('login')?.hasError('maxlength')">{{
          'register.messages.validate.login.maxlength' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('login')?.hasError('pattern')">{{
          'register.messages.validate.login.pattern' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('login')?.hasError('usernameExists')">{{
          'register.messages.validate.login.alreadyExists' | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'global.form.email.label' | translate }}</mat-label>
        <input #email type="text" matInput formControlName="email" autocomplete="email" data-cy="username" />
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">{{
          'global.messages.validate.email.required' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('email')">{{ 'global.messages.validate.email.invalid' | translate }}</mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('minlength')">{{
          'global.messages.validate.email.minlength' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('maxlength')">{{
          'global.messages.validate.email.maxlength' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('emailExists')">{{
          'global.messages.validate.email.alreadyExists' | translate
        }}</mat-error>
        <mat-hint *ngIf="userForm.get('email')?.valid && !isUniversityEmail(email.value)"
          ><mat-icon class="warn-icon">error</mat-icon> <span translate>global.messages.validate.email.university</span></mat-hint
        >
      </mat-form-field>

      <div fxLayout="column">
        <mat-form-field appearance="outline" [color]="passwordStrength.color" fxFlex>
          <mat-label>{{ 'global.form.newpassword.label' | translate }}</mat-label>
          <mat-pass-toggle-visibility #passwordVisiblity [tabindex]="'-1'" matSuffix></mat-pass-toggle-visibility>
          <input
            #password
            [type]="passwordVisiblity.type"
            matInput
            formControlName="password"
            autocomplete="new-password"
            data-cy="username"
          />
          <mat-hint align="end">{{ password.value?.length || 0 }} / 50</mat-hint>
          <mat-error *ngIf="userForm.get('password')?.hasError('required')">{{
            'global.messages.validate.newpassword.required' | translate
          }}</mat-error>
          <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">{{
            'global.messages.validate.newpassword.minlength' | translate
          }}</mat-error>
          <mat-error *ngIf="userForm.get('password')?.hasError('maxlength')">{{
            'global.messages.validate.newpassword.maxlength' | translate
          }}</mat-error>
        </mat-form-field>

        <mat-password-strength #passwordStrength [password]="password.value" fxFlex></mat-password-strength>
      </div>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'global.form.confirmpassword.label' | translate }}</mat-label>
        <mat-pass-toggle-visibility #confirmPasswordVisiblity [tabindex]="'-1'" matSuffix></mat-pass-toggle-visibility>
        <input
          #confirmPassword
          [type]="confirmPasswordVisiblity.type"
          [errorStateMatcher]="passwordMismatchErrorStateMatcher"
          matInput
          formControlName="confirmPassword"
          autocomplete="new-password"
          data-cy="username"
        />
        <mat-hint align="end">{{ confirmPassword.value?.length || 0 }} / 50</mat-hint>
        <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('required')">{{
          'global.messages.validate.confirmpassword.required' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('minlength')">{{
          'global.messages.validate.confirmpassword.minlength' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('maxlength')">{{
          'global.messages.validate.confirmpassword.maxlength' | translate
        }}</mat-error>
        <mat-error *ngIf="userForm.hasError('passwordMismatch')">{{
          'global.messages.validate.confirmpassword.mismatch' | translate
        }}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="networkTerms">
        <span [innerHTML]="'register.form.networkTerms' | translate"></span>
      </mat-checkbox>
      <mat-checkbox formControlName="generalTerms">
        <span [innerHTML]="'register.form.generalTerms' | translate"></span>
      </mat-checkbox>
    </div>
  </form>
</ng-template>

<ng-template #stepTwo>
  <form name="form" role="form" (ngSubmit)="register()" [formGroup]="personForm">
    <div fxLayout="column" fxLayoutGap="16px grid">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="100%">
          <mat-label>{{ 'global.form.firstname.label' | translate }}</mat-label>
          <input type="text" matInput formControlName="firstName" autocomplete="given-name" data-cy="username" />
          <mat-error *ngIf="personForm.get('firstName')?.hasError('required')">{{
            'register.messages.validate.firstName.required' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('firstName')?.hasError('minlength')">{{
            'register.messages.validate.firstName.minlength' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('firstName')?.hasError('maxlength')">{{
            'register.messages.validate.firstName.maxlength' | translate
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="100%">
          <mat-label>{{ 'global.form.lastname.label' | translate }}</mat-label>
          <input type="text" matInput formControlName="lastName" autocomplete="family-name" data-cy="username" />
          <mat-error *ngIf="personForm.get('lastName')?.hasError('required')">{{
            'register.messages.validate.lastName.required' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('lastName')?.hasError('minlength')">{{
            'register.messages.validate.lastName.minlength' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('lastName')?.hasError('maxlength')">{{
            'register.messages.validate.lastName.maxlength' | translate
          }}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="33%" fxFlex.lt-sm="100%">
          <mat-label>{{ 'global.form.apartment.label' | translate }}</mat-label>
          <input
            #apartment
            type="text"
            matInput
            [errorStateMatcher]="immediateErrorStateMatcher"
            placeholder="xx-xx"
            formControlName="apartment"
            data-cy="apartment"
          />
          <mat-spinner *ngIf="personForm.get('apartment')?.pending" matSuffix [diameter]="18"></mat-spinner>
          <mat-error *ngIf="personForm.get('apartment')?.hasError('required')">{{
            'register.messages.validate.apartment.required' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('apartment')?.hasError('pattern')">{{
            'register.messages.validate.apartment.pattern' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('apartment')?.hasError('invalidApartment')">{{
            'register.messages.validate.apartment.invalid' | translate
          }}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex fxFlex.lt-sm="100%">
          <mat-label>{{ 'register.form.address' | translate }}</mat-label>
          <input
            matInput
            disabled
            placeholder="Rütscher Str."
            [value]="
              personForm.get('apartment')?.valid && apartmentValidator.apartment ? getApartmentString(apartmentValidator.apartment) : ''
            "
          />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <mat-form-field appearance="outline" fxFlex="0 1 320px" fxFlex.lt-sm="100%">
          <mat-label>{{ 'register.form.duration' | translate }}</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" [placeholder]="'register.form.start' | translate" />
            <input matEndDate formControlName="end" [placeholder]="'register.form.end' | translate" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="personForm.get('start')?.hasError('required')">{{
            'register.messages.validate.start.required' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('start')?.hasError('invalidMaxDate')">{{
            'register.messages.validate.start.invalidMaxDate' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('end')?.hasError('required')">{{
            'register.messages.validate.end.required' | translate
          }}</mat-error>
          <mat-error *ngIf="personForm.get('end')?.hasError('matEndDateInvalid')">{{
            'register.messages.validate.end.invalid' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #stepThree [formGroup]="userForm">
  <div class="position-relative">
    <!-- TODO: #20 -->
  </div>
</ng-template>

<ng-template #stepFour [formGroup]="userForm">
  <div fxLayout="column" fxLayoutAlign="center" class="mx-4">
    <jhi-checkmark [visible]="selectedIndex === 3 && animationEnd"></jhi-checkmark>
    <p translate>register.messages.success.done</p>
    <p [innerHTML]="'register.messages.success.confimationEmail' | translate: { email: userForm.get('email')?.value }"></p>
    <p translate>register.messages.success.verificationNotice</p>
  </div>
</ng-template>
