@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $light;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

.navbar-toggler {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: relative;

  &:hover span {
    background-color: $navbar-light-hover-color;
  }

  span {
    width: 22px;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: absolute;
    background-color: $navbar-light-color;
    left: 0;
    transition: 0.2s;
  }
}

.navbar-toggler .top-bar {
  top: 0;
}

.navbar-toggler .middle-bar {
  top: 6px;
}

.navbar-toggler .bottom-bar {
  top: 12px;
}

.navbar-toggler.open .top-bar {
  top: 6px;
  transform: rotate(45deg);
  transition: 0.2s;
}

.navbar-toggler.open .middle-bar {
  opacity: 0;
}

.navbar-toggler.open .bottom-bar {
  top: 6px;
  transform: rotate(-45deg);
  transition: 0.2s;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo.svg') no-repeat center center;
  background-size: contain;
}
