<div>
  <h2 id="page-heading" data-cy="BroadcastMessageHeading">
    <span jhiTranslate="autocutApp.broadcastMessage.home.title">Broadcast Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autocutApp.broadcastMessage.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-broadcast-message"
        [routerLink]="['/broadcast-message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autocutApp.broadcastMessage.home.createLabel"> Create a new Broadcast Message </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="broadcastMessages?.length === 0">
    <span jhiTranslate="autocutApp.broadcastMessage.home.notFound">No broadcastMessages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="broadcastMessages && broadcastMessages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessage.type">Type</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessage.start">Start</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessage.end">End</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessage.usersOnly">Users Only</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessage.dismissible">Dismissible</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let broadcastMessage of broadcastMessages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/broadcast-message', broadcastMessage.id, 'view']">{{ broadcastMessage.id }}</a>
          </td>
          <td jhiTranslate="{{ 'autocutApp.BroadcastMessageType.' + broadcastMessage.type }}">{{ broadcastMessage.type }}</td>
          <td>{{ broadcastMessage.start | formatMediumDatetime }}</td>
          <td>{{ broadcastMessage.end | formatMediumDatetime }}</td>
          <td>{{ broadcastMessage.usersOnly }}</td>
          <td>{{ broadcastMessage.dismissible }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/broadcast-message', broadcastMessage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/broadcast-message', broadcastMessage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(broadcastMessage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
