<div>
  <h2 id="page-heading" data-cy="InternetAccessHeading">
    <span jhiTranslate="autocutApp.internetAccess.home.title">Internet Accesses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autocutApp.internetAccess.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-internet-access"
        [routerLink]="['/internet-access/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autocutApp.internetAccess.home.createLabel"> Create a new Internet Access </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="internetAccesses?.length === 0">
    <span jhiTranslate="autocutApp.internetAccess.home.notFound">No internetAccesses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="internetAccesses && internetAccesses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.internetAccess.blocked">Blocked</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.internetAccess.ip1">Ip 1</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.internetAccess.ip2">Ip 2</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.internetAccess.switchInterface">Switch Interface</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.internetAccess.port">Port</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.internetAccess.networkSwitch">Network Switch</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let internetAccess of internetAccesses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/internet-access', internetAccess.id, 'view']">{{ internetAccess.id }}</a>
          </td>
          <td>{{ internetAccess.blocked }}</td>
          <td>{{ internetAccess.ip1 }}</td>
          <td>{{ internetAccess.ip2 }}</td>
          <td>{{ internetAccess.switchInterface }}</td>
          <td>{{ internetAccess.port }}</td>
          <td>
            <div *ngIf="internetAccess.networkSwitch">
              <a [routerLink]="['/network-switch', internetAccess.networkSwitch?.id, 'view']">{{ internetAccess.networkSwitch?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/internet-access', internetAccess.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/internet-access', internetAccess.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(internetAccess)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
