<div fxFlex fxLayoutAlign="center">
  <div fxLayout="column" class="login-container">
    <h1 data-cy="loginTitle">{{ 'login.title' | translate }}</h1>
    <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
      {{ 'login.messages.error.authentication' | translate }}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column">
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'login.form.username' | translate }}</mat-label>
          <input #username type="email" matInput formControlName="username" autocomplete="username" data-cy="username" />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">{{
            'login.messages.validate.username.required' | translate
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'login.form.password' | translate }}</mat-label>
          <input
            [type]="visibility.isVisible ? 'text' : 'password'"
            matInput
            formControlName="password"
            [autocomplete]="visibility.isVisible ? 'off' : 'current-password'"
            data-cy="password"
          />
          <mat-pass-toggle-visibility #visibility [tabindex]="'-1'" matSuffix></mat-pass-toggle-visibility>
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">{{
            'login.messages.validate.password.required' | translate
          }}</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="rememberMe">{{ 'login.form.rememberme' | translate }}</mat-checkbox>
      </div>

      <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="16px" class="mt-4">
        <button mat-button color="primary" routerLink="/account/reset/request" class="btn-left" type="button">
          {{ 'login.password.forgot' | translate }}
        </button>
        <button mat-flat-button color="primary" type="submit">{{ 'login.form.button' | translate }}</button>
      </div>
    </form>

    <mat-divider class="login-register-divider"></mat-divider>

    <p fxLayoutAlign="center" class="mat-body-strong">{{ 'login.register.title' | translate }}</p>

    <button mat-stroked-button routerLink="/account/register">{{ 'login.register.button' | translate }}</button>
  </div>
</div>
