<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.securityPolicy.home.title">Security Policies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-security-policy" [routerLink]="['/security-policy/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="autocutApp.securityPolicy.home.createLabel">
            Create a new Security Policy
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="securityPolicies?.length === 0">
        <span jhiTranslate="autocutApp.securityPolicy.home.notFound">No securityPolicies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="securityPolicies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.securityPolicy.protectionUnit">Protection Unit</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.securityPolicy.access">Access</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.securityPolicy.teamMember">Team Member</span></th>
                    <th scope="col" ><span jhiTranslate="autocutApp.securityPolicy.tenant">Tenant</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let securityPolicy of securityPolicies ;trackBy: trackId">
                    <td><a [routerLink]="['/security-policy', securityPolicy.id, 'view']">{{ securityPolicy.id }}</a></td>
                    <td jhiTranslate="{{ 'autocutApp.ProtectionUnits.' + securityPolicy.protectionUnit }}">{{ securityPolicy.protectionUnit }}</td>
                    <td jhiTranslate="{{ 'autocutApp.Access.' + securityPolicy.access }}">{{ securityPolicy.access }}</td>
                    <td>
                        <div *ngIf="securityPolicy.teamMember">
                            <a [routerLink]="['/team-member', securityPolicy.teamMember?.id, 'view']" >{{ securityPolicy.teamMember?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="securityPolicy.tenant">
                            <a [routerLink]="['/tenant', securityPolicy.tenant?.id, 'view']" >{{ securityPolicy.tenant?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/security-policy', securityPolicy.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/security-policy', securityPolicy.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(securityPolicy)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
