<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="teamMembership">
      <h2 data-cy="teamMembershipDetailsHeading"><span jhiTranslate="autocutApp.teamMembership.detail.title">Team Membership</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ teamMembership.id }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.teamMembership.role">Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'autocutApp.TeamRole.' + teamMembership.role }}">{{ teamMembership.role }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.teamMembership.start">Start</span></dt>
        <dd>
          <span>{{ teamMembership.start | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.teamMembership.end">End</span></dt>
        <dd>
          <span>{{ teamMembership.end | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.teamMembership.tenant">Tenant</span></dt>
        <dd>
          <div *ngIf="teamMembership.tenant">
            <a [routerLink]="['/tenant', teamMembership.tenant?.id, 'view']">{{ teamMembership.tenant?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="autocutApp.teamMembership.team">Team</span></dt>
        <dd>
          <div *ngIf="teamMembership.team">
            <a [routerLink]="['/team', teamMembership.team?.id, 'view']">{{ teamMembership.team?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/team-membership', teamMembership.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
