<div>
    <h2 id="page-heading">
        <span jhiTranslate="autocutApp.paymentEntry.home.title">Payment Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-entry" [routerLink]="['/payment-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="autocutApp.paymentEntry.home.createLabel">
            Create a new Payment Entry
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="paymentEntries?.length === 0">
        <span jhiTranslate="autocutApp.paymentEntry.home.notFound">No paymentEntries found</span>
    </div>
    <div class="table-responsive" *ngIf="paymentEntries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.balanceBefore">Balance Before</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.balanceAfter">Balance After</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.payment">Payment</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.date">Date</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.transaction">Transaction</span></th>
            <th scope="col" ><span jhiTranslate="autocutApp.paymentEntry.account">Account</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentEntry of paymentEntries ;trackBy: trackId">
                <td><a [routerLink]="['/payment-entry', paymentEntry.id, 'view' ]">{{paymentEntry.id}}</a></td>
                <td>{{paymentEntry.balanceBefore}}</td>
                <td>{{paymentEntry.balanceAfter}}</td>
                <td>{{paymentEntry.payment}}</td>
                <td>{{paymentEntry.date | date:'medium'}}</td>
                <td>{{paymentEntry.description}}</td>
                <td>
                    <div *ngIf="paymentEntry.transaction">
                        <a [routerLink]="['/transaction', paymentEntry.transaction?.id, 'view' ]" >{{paymentEntry.transaction?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paymentEntry.account">
                        <a [routerLink]="['/payment-account', paymentEntry.account?.id, 'view' ]" >{{paymentEntry.account?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/payment-entry', paymentEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-entry', paymentEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(paymentEntry)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
