<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentEntry">
            <h2><span jhiTranslate="autocutApp.paymentEntry.detail.title">Payment Entry</span> {{paymentEntry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="autocutApp.paymentEntry.balanceBefore">Balance Before</span></dt>
                <dd>
                    <span>{{paymentEntry.balanceBefore}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.paymentEntry.balanceAfter">Balance After</span></dt>
                <dd>
                    <span>{{paymentEntry.balanceAfter}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.paymentEntry.payment">Payment</span></dt>
                <dd>
                    <span>{{paymentEntry.payment}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.paymentEntry.date">Date</span></dt>
                <dd>
                    <span>{{paymentEntry.date}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.paymentEntry.description">Description</span></dt>
                <dd>
                    <span>{{paymentEntry.description}}</span>
                </dd>
                <dt><span jhiTranslate="autocutApp.paymentEntry.transaction">Transaction</span></dt>
                <dd>
                    <div *ngIf="paymentEntry.transaction">
                        <a [routerLink]="['/transaction', paymentEntry.transaction?.id, 'view']">{{paymentEntry.transaction?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="autocutApp.paymentEntry.account">Account</span></dt>
                <dd>
                    <div *ngIf="paymentEntry.account">
                        <a [routerLink]="['/payment-account', paymentEntry.account?.id, 'view']">{{paymentEntry.account?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-entry', paymentEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
