<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="laundryMachineProgram">
      <h2 data-cy="laundryMachineProgramDetailsHeading">
        <span jhiTranslate="autocutApp.laundryMachineProgram.detail.title">Laundry Machine Program</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.id }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.name">Name</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.name }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.subprogram">Subprogram</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.subprogram }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.time">Time</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.time }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.spin">Spin</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.spin }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.preWash">Pre Wash</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.preWash }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.protect">Protect</span></dt>
        <dd>
          <span>{{ laundryMachineProgram.protect }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.laundryMachineProgram.laundryMachine">Laundry Machine</span></dt>
        <dd>
          <div *ngIf="laundryMachineProgram.laundryMachine">
            <a [routerLink]="['/laundry-machine', laundryMachineProgram.laundryMachine?.id, 'view']">{{
              laundryMachineProgram.laundryMachine?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/laundry-machine-program', laundryMachineProgram.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
