<div>
  <h2 id="page-heading" data-cy="LaundryMachineProgramHeading">
    <span jhiTranslate="autocutApp.laundryMachineProgram.home.title">Laundry Machine Programs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autocutApp.laundryMachineProgram.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-laundry-machine-program"
        [routerLink]="['/laundry-machine-program/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autocutApp.laundryMachineProgram.home.createLabel"> Create a new Laundry Machine Program </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="laundryMachinePrograms?.length === 0">
    <span jhiTranslate="autocutApp.laundryMachineProgram.home.notFound">No laundryMachinePrograms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="laundryMachinePrograms && laundryMachinePrograms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachineProgram.time">Time</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachineProgram.program">Program</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.laundryMachineProgram.machine">Machine</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laundryMachineProgram of laundryMachinePrograms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/laundry-machine-program', laundryMachineProgram.id, 'view']">{{ laundryMachineProgram.id }}</a>
          </td>
          <td>{{ laundryMachineProgram.time }}</td>
          <td>
            <div *ngIf="laundryMachineProgram.program">
              <a [routerLink]="['/laundry-program', laundryMachineProgram.program?.id, 'view']">{{ laundryMachineProgram.program?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="laundryMachineProgram.machine">
              <a [routerLink]="['/laundry-machine', laundryMachineProgram.machine?.id, 'view']">{{ laundryMachineProgram.machine?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/laundry-machine-program', laundryMachineProgram.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/laundry-machine-program', laundryMachineProgram.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(laundryMachineProgram)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
