<div>
  <h2 id="page-heading" data-cy="InternalTransactionHeading">
    <span jhiTranslate="autocutApp.internalTransaction.home.title">Internal Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autocutApp.internalTransaction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-internal-transaction"
        [routerLink]="['/internal-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autocutApp.internalTransaction.home.createLabel"> Create a new Internal Transaction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="internalTransactions?.length === 0">
    <span jhiTranslate="autocutApp.internalTransaction.home.notFound">No internalTransactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="internalTransactions && internalTransactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="autocutApp.internalTransaction.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bookingDate">
            <span jhiTranslate="autocutApp.internalTransaction.bookingDate">Booking Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valueDate">
            <span jhiTranslate="autocutApp.internalTransaction.valueDate">Value Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="value">
            <span jhiTranslate="autocutApp.internalTransaction.value">Value</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="balanceAfter">
            <span jhiTranslate="autocutApp.internalTransaction.balanceAfter">Balance After</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="autocutApp.internalTransaction.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="serviceQulifier">
            <span jhiTranslate="autocutApp.internalTransaction.serviceQulifier">Service Qulifier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="issuer">
            <span jhiTranslate="autocutApp.internalTransaction.issuer">Issuer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recipient">
            <span jhiTranslate="autocutApp.internalTransaction.recipient">Recipient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transactionBook.id">
            <span jhiTranslate="autocutApp.internalTransaction.transactionBook">Transaction Book</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let internalTransaction of internalTransactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/internal-transaction', internalTransaction.id, 'view']">{{ internalTransaction.id }}</a>
          </td>
          <td>{{ internalTransaction.type }}</td>
          <td>{{ internalTransaction.bookingDate | formatMediumDatetime }}</td>
          <td>{{ internalTransaction.valueDate | formatMediumDatetime }}</td>
          <td>{{ internalTransaction.value }}</td>
          <td>{{ internalTransaction.balanceAfter }}</td>
          <td>{{ internalTransaction.description }}</td>
          <td>{{ internalTransaction.serviceQulifier }}</td>
          <td>{{ internalTransaction.issuer }}</td>
          <td>{{ internalTransaction.recipient }}</td>
          <td>
            <div *ngIf="internalTransaction.transactionBook">
              <a [routerLink]="['/transaction-book', internalTransaction.transactionBook?.id, 'view']">{{
                internalTransaction.transactionBook?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/internal-transaction', internalTransaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/internal-transaction', internalTransaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(internalTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="internalTransactions && internalTransactions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
