<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bankAccount">
      <h2 data-cy="bankAccountDetailsHeading"><span jhiTranslate="autocutApp.bankAccount.detail.title">Bank Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bankAccount.id }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.bankAccount.name">Name</span></dt>
        <dd>
          <span>{{ bankAccount.name }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.bankAccount.bic">Bic</span></dt>
        <dd>
          <span>{{ bankAccount.bic }}</span>
        </dd>
        <dt><span jhiTranslate="autocutApp.bankAccount.iban">Iban</span></dt>
        <dd>
          <span>{{ bankAccount.iban }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank-account', bankAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
