<div>
  <h2 id="page-heading" data-cy="BroadcastMessageTextHeading">
    <span jhiTranslate="autocutApp.broadcastMessageText.home.title">Broadcast Message Texts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autocutApp.broadcastMessageText.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-broadcast-message-text"
        [routerLink]="['/broadcast-message-text/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autocutApp.broadcastMessageText.home.createLabel"> Create a new Broadcast Message Text </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="broadcastMessageTexts?.length === 0">
    <span jhiTranslate="autocutApp.broadcastMessageText.home.notFound">No broadcastMessageTexts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="broadcastMessageTexts && broadcastMessageTexts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessageText.langKey">Lang Key</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessageText.text">Text</span></th>
          <th scope="col"><span jhiTranslate="autocutApp.broadcastMessageText.message">Message</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let broadcastMessageText of broadcastMessageTexts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/broadcast-message-text', broadcastMessageText.id, 'view']">{{ broadcastMessageText.id }}</a>
          </td>
          <td>{{ broadcastMessageText.langKey }}</td>
          <td>{{ broadcastMessageText.text }}</td>
          <td>
            <div *ngIf="broadcastMessageText.message">
              <a [routerLink]="['/broadcast-message', broadcastMessageText.message?.id, 'view']">{{ broadcastMessageText.message?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/broadcast-message-text', broadcastMessageText.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/broadcast-message-text', broadcastMessageText.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(broadcastMessageText)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
