<div>
    <div>
        <h2><span jhiTranslate="transaction.balance"></span><span>:</span>
            <span>{{ balance | money }}</span></h2>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="transaction.table.kind">Kind</span></th>
                <th scope="col"><span jhiTranslate="transaction.table.bookingDate">Booking Date</span></th>
                <th scope="col"><span jhiTranslate="transaction.table.valueDate">Value Date</span></th>
                <th scope="col"><span jhiTranslate="transaction.table.value">Value</span></th>
                <th scope="col"><span jhiTranslate="transaction.table.balanceAfter">Balance After</span></th>
                <th scope="col"><span jhiTranslate="transaction.table.description">Description</span></th>
                <th scope="col"><span jhiTranslate="transaction.table.issuer">Issuer</span></th>
            </tr>
            </thead>
            <tbody *ngIf="transactions">
            <tr *ngFor="let transaction of transactions">
                <td jhiTranslate="{{ 'autocutApp.TransactionKind.' + transaction.kind }}">{{ transaction.kind }}</td>
                <td>{{ transaction.bookingDate | localizedDate:'short' }}</td>
                <td>{{ transaction.valueDate | localizedDate:'short' }}</td>
                <td>{{ transaction.value | money }}</td>
                <td>{{ transaction.balanceAfter | money }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.issuer }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transactions">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>
</div>
