<div>
  <div class="col-md-6">
    <p jhiTranslate="transaction.paymentInstructions">Payment instructions:</p>
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="page-heading">
        <tr>
          <td jhiTranslate="transaction.payment.recipient">Recipient</td>
          <td>Fam. Wohnheim Rütscher Str.</td>
        </tr>
        <tr>
          <td jhiTranslate="transaction.payment.iban">IBAN</td>
          <td>DE14 5001 0060 0224 7886 02</td>
        </tr>
        <tr>
          <td jhiTranslate="transaction.payment.bic">BIC</td>
          <td>PBNKDEFF</td>
        </tr>
        <tr>
          <td jhiTranslate="transaction.payment.bank">Bank</td>
          <td>Postbank AG</td>
        </tr>
        <tr>
          <td jhiTranslate="transaction.payment.purpose">Zweck</td>
          <td>{{ purpose$ | async }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    <span translate>transaction.messages.error.loadingTransactionsFailed</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end" class="data-container">
    <div fxLayout="column" fxFlexOffset="5%">
      <jhi-transaction-balance *ngIf="result" [balance]="result.balanceNow"></jhi-transaction-balance>
    </div>
  </div>

  <div *ngIf="result && result.transactions" class="position-relative">
    <jhi-loading-overlay *ngIf="isLoading"></jhi-loading-overlay>
    <jhi-transaction-cell *ngFor="let transaction of result.transactions!" [transaction]="transaction"></jhi-transaction-cell>
    <mat-paginator
      (page)="onPageEvent($event)"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="pageSizeOptions"
    ></mat-paginator>
  </div>
</div>
