<p translate="contact.janitor.useForm"></p>

<div gdAlignRows=" center" gdColumns="repeat(auto-fit, minmax(300px, 1fr))" gdGap="8px">
  <mat-card *ngFor="let janitor of janitors" class="contact-card w-100">
    <mat-card-title>{{ janitor.name }}</mat-card-title>
    <mat-card-content>
      <div class="mt-2" fxLayout="row">
        <mat-icon class="mr-2">email</mat-icon>
        <a [href]="'mailto:' + janitor.email" fxFlexAlign="center">{{ janitor.email }}</a>
      </div>
      <div class="mt-2" fxLayout="row">
        <mat-icon class="mr-2">phone</mat-icon>
        <a [href]="'tel:' + janitor.phone" fxFlexAlign="center">{{ janitor.phone }}</a>
      </div>
      <div class="mt-2" fxLayout="row">
        <mat-icon class="mr-2">smartphone</mat-icon>
        <a [href]="'tel:' + janitor.mobile" fxFlexAlign="center">{{ janitor.mobile }}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="mt-4 mb-4">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span translate="contact.janitor.formalGuideline.title"></span>
    </mat-expansion-panel-header>
    <p translate="contact.janitor.formalGuideline.subj"></p>
    <span translate="contact.janitor.formalGuideline.examples"></span>
    <mat-divider class="my-2 short-divider"></mat-divider>
    <span translate="contact.janitor.formalGuideline.ex1"></span>
    <mat-divider class="my-2 short-divider"></mat-divider>
    <span translate="contact.janitor.formalGuideline.ex2"></span>
    <mat-divider class="my-2 short-divider"></mat-divider>
    <span [innerHTML]="'contact.janitor.formalGuideline.ex3' | translate"></span>
    <mat-divider class="my-2 short-divider"></mat-divider>
    <span translate="contact.janitor.formalGuideline.ex4"></span>
    <mat-divider class="my-2 short-divider"></mat-divider>
    <span translate="contact.janitor.formalGuideline.ex5"></span>
    <mat-divider class="my-2 short-divider"></mat-divider>
    <p translate="contact.janitor.formalGuideline.sublease"></p>
    <p translate="contact.janitor.formalGuideline.missingAddress"></p>
    <p translate="contact.janitor.formalGuideline.subjectGerman"></p>
  </mat-expansion-panel>
</div>
