<div fxLayout="column" fxLayoutAlign=" center">
  <div class="width-600">
    <h1 class="text-center" translate>washing.title</h1>
    <div *ngIf="response" class="mb-4">
      <div *ngIf="response.success" fxLayout="column" fxLayoutAlign=" center" class="alert alert-success">
        <p>
          {{
            'washing.messages.info.success'
              | translate: { machine: translateMachineName(response.machineId!), seconds: response.activationDurationMs! / 1000 }
          }}
        </p>
        <jhi-countdown
          *ngIf="response.countdownSeconds"
          [seconds]="response.countdownSeconds"
          [size]="50"
          (finished)="onCountdownFinished()"
        ></jhi-countdown>
        <mat-icon *ngIf="!response.countdownSeconds" [@bounceOnEnter] class="lock-icon mat-primary">lock</mat-icon>
      </div>

      <div *ngIf="initError" class="alert alert-danger">
        <span translate>washing.messages.error.init</span>
      </div>
      <div *ngIf="response.genericError" class="alert alert-danger">
        <span translate [translateParams]="{ machine: translateMachineName(response.machineId!) }">washing.messages.error.fail</span>
      </div>
      <div *ngIf="response.errorInsufficientFunds" class="alert alert-danger">
        <span translate [translateParams]="{ machine: translateMachineName(response.machineId!) }"
          >washing.messages.error.insufficientfunds</span
        >
      </div>
      <div *ngIf="response.errorMachineUnavailable" class="alert alert-danger">
        <span translate [translateParams]="{ machine: translateMachineName(response.machineId!) }"
          >washing.messages.error.machinenotavailable</span
        >
      </div>
    </div>

    <p translate>washing.text.p1</p>
    <p translate>washing.text.p2</p>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center" class="width-400 mt-4">
    <jhi-loading-overlay *ngIf="loadingMachines"></jhi-loading-overlay>
    <form [formGroup]="formGroup" (ngSubmit)="unlockAction()" fxLayout="column" fxLayoutGap="16x" class="w-100">
      <mat-form-field appearance="outline">
        <mat-label translate>washing.selectMachine</mat-label>
        <mat-select [formControlName]="FormProperties.LAUNDRY_MACHINE">
          <mat-option *ngFor="let machine of machines" [value]="machine" [disabled]="!machine.enabled">{{
            translateMachineName(machine)
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="formGroup.get(FormProperties.PROGRAM)!.enabled" appearance="outline">
        <mat-label translate>washing.selectProgram</mat-label>
        <mat-select [formControlName]="FormProperties.PROGRAM">
          <mat-option *ngFor="let program of programs" [value]="program">{{ program }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="formGroup.get(FormProperties.SUBPROGRAM)!.enabled" appearance="outline">
        <mat-label translate>washing.selectSubprogram</mat-label>
        <mat-select [formControlName]="FormProperties.SUBPROGRAM">
          <mat-option *ngFor="let subprogram of subprograms" [value]="subprogram">{{ subprogram }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="formGroup.get(FormProperties.SPIN)!.enabled" appearance="outline">
        <mat-label translate>washing.selectSpin</mat-label>
        <mat-select [formControlName]="FormProperties.SPIN">
          <mat-option *ngFor="let spin of spins" [value]="spin">{{ spin }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox *ngIf="formGroup.get(FormProperties.PREWASH)!.enabled" [formControlName]="FormProperties.PREWASH">
        <span translate>washing.preWashCheckbox</span>
      </mat-checkbox>
      <mat-checkbox *ngIf="formGroup.get(FormProperties.PROTECT)!.enabled" [formControlName]="FormProperties.PROTECT">
        <span translate>washing.protectCheckbox</span>
      </mat-checkbox>
      <button mat-flat-button [disabled]="formGroup.invalid" [loading]="loadingActivate" color="primary" type="submit">
        {{ 'washing.buyAndUnlock' | translate }}
      </button>
    </form>
  </div>
</div>
