<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lease-heading" data-cy="LeaseCreateUpdateHeading" jhiTranslate="autocutApp.lease.home.createOrEditLabel">
        Create or edit a Lease
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.lease.nr" for="field_nr">Nr</label>
          <input type="text" class="form-control" name="nr" id="field_nr" data-cy="nr" formControlName="nr" />
          <div *ngIf="editForm.get('nr')!.invalid && (editForm.get('nr')!.dirty || editForm.get('nr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nr')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.lease.start" for="field_start">Start</label>
          <div class="input-group">
            <input
              id="field_start"
              data-cy="start"
              type="text"
              class="form-control"
              name="start"
              ngbDatepicker
              #startDp="ngbDatepicker"
              formControlName="start"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('start')!.invalid && (editForm.get('start')!.dirty || editForm.get('start')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('start')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.lease.end" for="field_end">End</label>
          <div class="input-group">
            <input
              id="field_end"
              data-cy="end"
              type="text"
              class="form-control"
              name="end"
              ngbDatepicker
              #endDp="ngbDatepicker"
              formControlName="end"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('end')!.invalid && (editForm.get('end')!.dirty || editForm.get('end')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('end')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.lease.blocked" for="field_blocked">Blocked</label>
          <input type="checkbox" class="form-check" name="blocked" id="field_blocked" data-cy="blocked" formControlName="blocked" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.lease.pictureContract" for="field_pictureContract"
            >Picture Contract</label
          >
          <div>
            <img
              [src]="'data:' + editForm.get('pictureContractContentType')!.value + ';base64,' + editForm.get('pictureContract')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('pictureContract')!.value"
              alt="lease image"
            />
            <div *ngIf="editForm.get('pictureContract')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('pictureContractContentType')!.value }}, {{ byteSize(editForm.get('pictureContract')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('pictureContract', 'pictureContractContentType', 'file_pictureContract')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_pictureContract"
              data-cy="pictureContract"
              (change)="setFileData($event, 'pictureContract', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="pictureContract"
            id="field_pictureContract"
            data-cy="pictureContract"
            formControlName="pictureContract"
          />
          <input
            type="hidden"
            class="form-control"
            name="pictureContractContentType"
            id="field_pictureContractContentType"
            formControlName="pictureContractContentType"
          />
        </div>

        <div class="form-group">
          <label jhiTranslate="autocutApp.lease.transactionBook" for="field_transactionBooks">Transaction Book</label>
          <select
            class="form-control"
            id="field_transactionBooks"
            data-cy="transactionBook"
            multiple
            name="transactionBooks"
            formControlName="transactionBooks"
          >
            <option
              [ngValue]="getSelectedTransactionBook(transactionBookOption, editForm.get('transactionBooks')!.value)"
              *ngFor="let transactionBookOption of transactionBooksSharedCollection; trackBy: trackTransactionBookById"
            >
              {{ transactionBookOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="autocutApp.lease.apartment" for="field_apartment">Apartment</label>
          <select class="form-control" id="field_apartment" data-cy="apartment" name="apartment" formControlName="apartment">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="apartmentOption.id === editForm.get('apartment')!.value?.id ? editForm.get('apartment')!.value : apartmentOption"
              *ngFor="let apartmentOption of apartmentsSharedCollection; trackBy: trackApartmentById"
            >
              {{ apartmentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
