<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>

            <div class="alert alert-warning" *ngIf="errorUserNotActivated" jhiTranslate="login.messages.warning.userNotActivated">
                User not activated!
            </div>

            <div class="alert alert-warning" *ngIf="errorUserNotVerified" jhiTranslate="login.messages.warning.userNotVerified">
                User not verified!
            </div>
        </div>

        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group">
                    <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                           formControlName="username" #username>
                </div>

                <div class="form-group">
                    <label for="password" jhiTranslate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{ 'login.form.password.placeholder' | translate }}"
                           formControlName="password">
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                               formControlName="rememberMe">
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </label>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-4 float-left">
                        <button type="submit" class="btn btn-primary float-left" jhiTranslate="login.form.button">Sign in</button>
                    </div>
                    <div class="col-8 float-right">
                        <button type="button" (click)="requestResetPassword()" class="btn btn-secondary float-right" jhiTranslate="login.password.forgot">Reset password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
